<div class="card card-frame">
  <div class="card-body">
    <form id="addlead_form">
      <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item pb-2">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseOne"
              aria-expanded="true"
              aria-controls="panelsStayOpen-collapseOne"
            >
              {lang_lead_required_info}
            </button>
          </h2>
          <div
            id="panelsStayOpen-collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="panelsStayOpen-headingOne"
          >
            <div class="accordion-body">
              <input
                type="hidden"
                value="0"
                id="addlead_selected_memeber_id"
                name="member_id"
              />

              <div class="row">
                <div class="col">
                  <h5 id="addlead_member_selected_text" class="mb-2">
                    {lang_lead_select_or_create_member}
                  </h5>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      value="existing"
                      name="member_status"
                      checked
                      id="addlead_memeber_status_radio_existing"
                    />
                    <label
                      class="custom-control-label"
                      for="addlead_memeber_status_radio_existing"
                      >{lang_lead_existing_member}</label
                    >
                  </div>
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      value="new"
                      name="member_status"
                      id="addlead_memeber_status_radio_new"
                    />
                    <label
                      class="custom-control-label"
                      for="addlead_memeber_status_radio_new"
                      >{lang_lead_new_member}</label
                    >
                  </div>
                  <div id="addlead_member_info_existing">
                    <div class="input-group input-group-static mb-2">
                      <label for="field_name">{lang_lead_new_member}</label>
                      <input
                        type="text"
                        id="addlead_lookup_member"
                        class="form-control"
                      />

                      <small><em> {lang_lead_lookup_member_desc} </em></small>
                    </div>
                  </div>

                  <div id="addlead_member_info_new" style="display: none">
                    <div class="input-group input-group-static mb-2">
                      <label for="field_name">{lang_lead_email_address}</label>
                      <input
                        type="email"
                        name="member_email"
                        id="member_email"
                        value="{field_name}"
                        placeholder="{lang_lead_email_placeholder}"
                        class="form-control"
                      />
                      <span class="input-group-text"
                        ><i class="fa-solid fa-envelope"></i
                      ></span>
                    </div>
                  </div>
                  <div id="email_already_member" style="display: none">
                    {lang_lead_email_exists}
                  </div>

                  <div id="not_member_info" style="display: none">
                    <div id="not_member_infofields">
                      <label for="member_fname"
                        >{lang_user_manager_first_name}:<span class="required"
                          >*</span
                        ></label
                      >
                      <input
                        name="member_fname"
                        type="text"
                        placeholder="{lang_user_manager_first_name}"
                        id="member_fname"
                      />
                      <br />
                      <br />
                      <label for="member_lname"
                        >{lang_user_manager_last_name}:<span class="required"
                          >*</span
                        ></label
                      >
                      <input
                        name="member_lname"
                        type="text"
                        placeholder="{lang_user_manager_last_name}"
                        id="member_lname"
                      />
                      <div class="create_mem_button">
                        <a
                          href="#"
                          class="btn btn-primary"
                          id="addlead_create_member"
                          >{lang_lead_create_member}</a
                        >
                      </div>
                    </div>
                  </div>
                  <input
                    type="checkbox"
                    value="1"
                    name="member_status"
                    id="addlead_memeber_send_member_leademail"
                  />{lang_lead_email_member}

                  <div
                    class="addlead_feedback_section"
                    id="addlead_feedback_listing_data"
                  >
                    <div id="addlead_listing_selected">
                      <h5 id="addlead_listing_selected_text" class="my-2">
                        {lang_lead_assign_to_agent}
                      </h5>
                    </div>
                    <input
                      type="radio"
                      value="agentid"
                      name="agentselect_status"
                      id="addlead_agentselect_radio_byagent"
                      checked="checked"
                    />{lang_lead_assign_by_agentid}
                    <br />
                    <input
                      type="radio"
                      id="addlead_agentselect_radio_bylisting"
                      value="listingid"
                      name="agentselect_status"
                    />{lang_lead_assign_by_listingid}
                    <br />
                    <div id="addlead_agentselect_byagent_block">
                      <input
                        type="hidden"
                        value="0"
                        id="addlead_selected_agent_id"
                        name="agent_id"
                      />
                      <label for="addlead_lookup_agentid"
                        >{lang_lead_lookup_agent}<span class="required"
                          >*</span
                        ></label
                      >
                      <input id="addlead_lookup_agentid" type="text" />
                      <br />
                      <small><em>{lang_lead_lookup_agent_desc}</em></small>
                    </div>
                    <div
                      id="addlead_agentselect_bylisting_block"
                      style="display: none"
                    >
                      <input
                        type="hidden"
                        value="0"
                        id="addlead_selected_listing_id"
                        name="listing_id"
                      />
                      <label for="addlead_lookup_listing"
                        >{lang_lead_lookup_listing}<span class="required"
                          >*</span
                        ></label
                      >
                      <input id="addlead_lookup_listing" type="text" />
                      <br />
                      <small><em>{lang_lead_lookup_listing_desc}</em></small>
                    </div>
                  </div>
                </div>
                <div class="col" id="addlead_feedback_private_data">
                  <h5 id="addlead_member_selected">
                    {lang_lead_private_notes}
                  </h5>
                  <div style="text-align: center">
                    <textarea
                      id="addlead_private_notes"
                      name="notes"
                      cols="40"
                      rows="6"
                    ></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseTwo"
              aria-expanded="false"
              aria-controls="panelsStayOpen-collapseTwo"
            >
              {lang_lead_optional_info}
            </button>
          </h2>
          <div
            id="panelsStayOpen-collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingTwo"
          >
            <div id="addlead_feedback_form_data" class="accordion-body">
              <h5>{lang_lead_client_viewable}</h5>
              <br />
              <!-- insert form elements -->
              {feedback_formelements}
            </div>
          </div>
        </div>
      </div>

      <div class="btn btn-primary mt-2" id="addlead_create_lead">
        {lang_lead_create_lead}
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">
  $("#addlead_memeber_status_radio_existing").click(function () {
    $("#addlead_member_info_existing").show();
    $("#addlead_member_info_new").hide();
    $("#not_member_info").hide();
  });
  $("#addlead_memeber_status_radio_new").click(function () {
    $("#addlead_member_info_existing").hide();
    $("#addlead_member_info_new").show();
  });
  $("#addlead_agentselect_radio_byagent").click(function () {
    $("#addlead_agentselect_bylisting_block").hide();
    $("#addlead_agentselect_byagent_block").show();
  });
  $("#addlead_agentselect_radio_bylisting").click(function () {
    $("#addlead_agentselect_bylisting_block").show();
    $("#addlead_agentselect_byagent_block").hide();
  });

  $("#addlead_lookup_member").devbridgeAutocomplete({
    minChars: 2,
    serviceUrl: "ajax.php?action=addlead_lookup_member",
    paramName: "term",
    dataType: "json",
    transformResult: function (response) {
      return {
        suggestions: $.map(response, function (dataItem) {
          return { value: dataItem.label, data: dataItem.value };
        }),
      };
    },
    onSelect: function (suggestion) {
      $("#addlead_selected_memeber_id").val(suggestion.data);
      $("#addlead_member_selected_text").text(suggestion.value);
      $("#addlead_lookup_member").val("");
      $("#addlead_member_selected").css("background-color", "#99FFCC");
    },
  });

  $("#addlead_lookup_agentid").devbridgeAutocomplete({
    minChars: 2,
    serviceUrl: "ajax.php?action=addlead_lookup_agent",
    paramName: "term",
    dataType: "json",
    transformResult: function (response) {
      return {
        suggestions: $.map(response, function (dataItem) {
          return { value: dataItem.label, data: dataItem.value };
        }),
      };
    },
    onSelect: function (suggestion) {
      $("#addlead_selected_agent_id").val(suggestion.data);
      $("#addlead_selected_listing_id").val("");
      $("#addlead_listing_selected_text").text(suggestion.value);
      $("#addlead_lookup_agentid").val("");
      $("#addlead_listing_selected").css("background-color", "#99FFCC");
    },
  });

  $("#addlead_lookup_listing").devbridgeAutocomplete({
    minChars: 2,
    serviceUrl: "ajax.php?action=addlead_lookup_listing",
    paramName: "term",
    dataType: "json",
    transformResult: function (response) {
      return {
        suggestions: $.map(response, function (dataItem) {
          return { value: dataItem.label, data: dataItem.value };
        }),
      };
    },
    onSelect: function (suggestion) {
      $("#addlead_selected_listing_id").val(suggestion.data);
      $("#addlead_selected_agent_id").val("");
      $("#addlead_listing_selected_text").text(suggestion.value);
      $("#addlead_lookup_listing").val("");
      $("#addlead_listing_selected").css("background-color", "#99FFCC");
    },
  });

  $("#member_email").focusout(function () {
    if (!$.trim($("#member_email").val()).length) {
      $("#email_already_member").hide();
      $("#member_info_display").hide();
    } else {
      $("#member_email_please_wait").show();
      $.post(
        "{baseurl}/ajax.php?action=is_member_check",
        { email: $("#member_email").val() },
        function (data) {
          $("#not_member_info").hide();
          $("#member_password_info").hide();
          if (!data.error) {
            $("#email_already_member").show();
            //$("#member_password").focus();
            $("#not_member_info").hide();
            $("#member_email_please_wait").hide();
          } else {
            if (data.error_code == 2) {
              //Not A member
              $("#email_already_member").hide();
              $("#not_member_info").show();
              $("#member_fname").focus();
              $("#member_email_please_wait").hide();
            }
          }
        },
        "json"
      );
    }
  });
  $("#addlead_create_member").click(function () {
    //addlead_create_member
    if (
      $.trim($("#member_email").val()).length > 0 &&
      $.trim($("#member_lname").val()).length > 0 &&
      $.trim($("#member_fname").val()).length > 0
    ) {
      $.post(
        "{baseurl}/admin/ajax.php?action=addlead_create_member",
        {
          email: $("#member_email").val(),
          fname: $("#member_fname").val(),
          lname: $("#member_lname").val(),
        },
        function (data) {
          if (!data.error) {
            $("#not_member_info").hide();
            $("#email_already_member").hide();
            $("#member_email_please_wait").hide();
            $("#addlead_selected_memeber_id").val(data.user_id);
            $("#addlead_member_selected_text").text(
              data.lname + ", " + data.fname + "( " + data.email + ")"
            );
            $("#member_email").val("");
            $("#addlead_member_selected").css("background-color", "#99FFCC");
          }
        },
        "json"
      );
    }
  });
  function getleaddata(dtype) {
    var json = {};
    if (dtype == "listing") {
      json["listing_id"] = $("#addlead_selected_listing_id").val();
    } else {
      json["agent_id"] = $("#addlead_selected_agent_id").val();
    }
    json["member_id"] = $("#addlead_selected_memeber_id").val();
    json["notes"] = $("#addlead_private_notes").val();
    json["sendmember_email"] = $(
      "#addlead_memeber_send_member_leademail"
    ).val();
    $(
      "#addlead_feedback_form_data input[type=text], #addlead_feedback_form_data textarea, #addlead_feedback_form_data input[type=radio]:checked, #addlead_feedback_form_data input[type=checkbox]:checked,#addlead_feedback_form_data select:selected"
    ).each(function () {
      json[$(this).attr("name")] = $(this).val();
    });
    return json;
  }
  $("#addlead_create_lead").click(function () {
    if ($("#addlead_selected_memeber_id").val() > 0) {
      if ($("#addlead_selected_listing_id").val() > 0) {
        ShowPleaseWait();
        $.post(
          "{baseurl}/admin/ajax.php?action=addlead_create_lead",
          getleaddata("listing"),
          function (data) {
            HidePleaseWait();
            if (!data.error) {
              alert("Lead Created");
              location.href = "{baseurl}/admin/index.php";
            }
          },
          "json"
        );
      } else if ($("#addlead_selected_agent_id").val() > 0) {
        ShowPleaseWait();
        $.post(
          "{baseurl}/admin/ajax.php?action=addlead_create_lead",
          getleaddata("agent"),
          function (data) {
            HidePleaseWait();
            if (!data.error) {
              alert("Lead Created");
              location.href = "{baseurl}/admin/index.php";
            }
          },
          "json"
        );
      }
    }
  });
</script>
