<form id="add_listing_form" name="add_listing_form" action="#" method="post">
  <div class="input-group input-group-static mb-2">
    <label for="title">{lang_admin_listings_editor_title}</label>
    <input
      type="text"
      name="title"
      id="title"
      value=""
      class="form-control"
      required
    />
  </div>

  <div class="input-group input-group-static mb-2">
    <label for="pclass" class="ms-0"
      >{lang_admin_listings_editor_property_class}</label
    >
    <select required name="pclass[]" class="form-control" id="pclass">
      {pclass_block}
      <option value="{value}" {selected}>{text}</option>
      {/pclass_block}
    </select>
  </div>
  {check_edit_all_listings}
  <div class="input-group input-group-static mb-2">
    <label for="or_owner" class="ms-0"
      >{lang_listing_editor_listing_agent}</label
    >
    <select required name="or_owner" class="form-control" id="or_owner">
      {listing_agent_option_block}
      <option value="{value}" {selected}>{text}</option>
      {/listing_agent_option_block}
    </select>
  </div>
  {/check_edit_all_listings}

  <input
    type="submit"
    id="add_listing_form_button"
    class="btn btn-primary"
    value="{lang_submit}"
  />
</form>

<script type="text/javascript">
  $("#add_listing_form").on("submit", function (e) {
    e.preventDefault();

    $("#add_listing_form_button").attr("disabled", "true");
    $.post(
      "{baseurl}/admin/ajax.php?action=ajax_add_listing",
      $("#add_listing_form").serialize(),
      function (data) {
        if (data.error == "1") {
          $("#add_listing_form_button").attr("disabled", "false");
          status_error(data.error_msg);
        } else {
          var listing_id = data.listing_id;
          $("#add_listing_form_button").attr("disabled", "false");
          closeModal();
          window.location =
            "{baseurl}/admin/index.php?action=edit_listing&edit=" + listing_id;
        }
      },
      "json"
    );
    return false;
  });
</script>
