<div>
  <div class="row">
    <div class="col-12">
      <button
        type="button"
        class="btn btn-primary add_blog_category_button float-end"
      >
        <i class="fa-solid fa-plus"></i> {lang_blog_add_new_category}
      </button>
    </div>
  </div>

  <div class="table-responsive" id="blog_cat_container">
    <table class="table align-items-center mb-0" id="catlist">
      <thead>
        <tr>
          <th
            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
          >
            {lang_blog_category_name}
          </th>
          <th
            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
          >
            {lang_blog_seoname}
          </th>
          <th
            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
          >
            {lang_blog_description}
          </th>
          <th
            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
          >
            {lang_blog_cat_posts}
          </th>
          <th
            class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
          >
            {lang_blog_cat_options}
          </th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th
            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
          >
            {lang_blog_category_name}
          </th>
          <th
            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
          >
            {lang_blog_seoname}
          </th>
          <th
            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
          >
            {lang_blog_description}
          </th>
          <th
            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
          >
            {lang_blog_cat_posts}
          </th>
          <th
            class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
          >
            {lang_blog_cat_options}
          </th>
        </tr>
      </tfoot>
      <tbody>
        {category_display_block}
        <tr>
          <td>
            {cat_level_indicator}<a
              href=""
              id="edit_cat_{cat_id}"
              class="edit_cat"
              >{cat_name}</a
            >
          </td>
          <td>{cat_seoname}</td>
          <td>{cat_description}</td>
          <td>{cat_post_count}</td>
          <td class="align-middle text-center">
            <span style="padding-right: 2px">
              {rankup_block}<a href="" id="rankup_{cat_id}" class="rankup"
                >{/rankup_block}<i class="fa-solid fa-angle-up"></i
                >{rankup_block}</a
              >{/rankup_block}
            </span>
            <span style="padding-right: 2px">
              {rankdown_block}<a href="" id="rankdown_{cat_id}" class="rankdown"
                >{/rankdown_block}<i class="fa-solid fa-angle-down"></i
                >{rankdown_block}</a
              >{/rankdown_block}
            </span>

            <span style="padding-right: 4px">
              {catdelete_block}<a
                href=""
                id="edit_cat_{cat_id}"
                class="edit_cat"
                >{/catdelete_block}<i class="fa-solid fa-pencil-alt"></i
                >{catdelete_block}</a
              >{/catdelete_block}
            </span>
            <span>
              {catdelete_block}<a
                href=""
                id="catdelete_{cat_id}"
                class="catdelete"
                >{/catdelete_block}<i class="fa-solid fa-trash"></i
                >{catdelete_block}</a
              >{/catdelete_block}
            </span>
          </td>
        </tr>
        {/category_display_block}
      </tbody>
    </table>
  </div>

  <div id="add_blog_category_modal" class="d-none">
    <form action="#" id="add_blog_category_form" type="POST">
      <input type="hidden" name="token" value="{csrf_token}" />
      <div class="input-group input-group-static">
        <label for="title" class="ms-0">{lang_blog_category_name}</label>
        <input name="title" class="form-control" required />
      </div>
      <div class="input-group input-group-static">
        <label for="seoname" class="ms-0">{lang_blog_seoname}</label>
        <input name="seoname" class="form-control" />
      </div>

      <div class="input-group input-group-static">
        <label for="description" class="ms-0">{lang_blog_description}</label>
        <textarea name="description" class="form-control" rows="5"></textarea>
      </div>

      <div class="input-group input-group-static">
        <label for="parent" class="ms-0">{lang_blog_category_parent}</label>
        <select name="parent" class="form-control" id="parent">
          {parent_id_block}
          <option value="{blog_category_id}">
            {child_lvl}{blog_category_name} {/parent_id_block}
          </option>
        </select>
      </div>

      <input
        id="add_blog_category_button"
        class="btn btn-primary float-end"
        type="submit"
        value="{lang_blog_add_category}"
      />
    </form>
  </div>

  <div id="edit_blog_category_modal" class="d-none">
    <form action="#" id="edit_blog_category_form" type="POST">
      <input type="hidden" name="token" value="{csrf_token}" />
      <div class="input-group input-group-static">
        <label for="title" class="ms-0">{lang_blog_category_name}</label>
        <input
          name="title"
          id="edit_category_name"
          class="form-control"
          required
        />
      </div>
      <div class="input-group input-group-static">
        <label for="seoname" class="ms-0">{lang_blog_seoname}</label>
        <input name="seoname" id="edit_category_seoname" class="form-control" />
      </div>

      <div class="input-group input-group-static">
        <label for="description" class="ms-0">{lang_blog_description}</label>
        <textarea
          name="description"
          id="edit_category_description"
          class="form-control"
          rows="5"
        ></textarea>
      </div>

      <div class="input-group input-group-static">
        <label for="parent" class="ms-0">{lang_blog_category_parent}</label>
        <select name="parent" class="form-control" id="edit_category_parent">
          {parent_id_block}
          <option value="{blog_category_id}" {blog_category_selected}>
            {child_lvl}{blog_category_name}
          </option>
          {/parent_id_block}
        </select>
      </div>

      <input type="hidden" name="category_id" id="edit_category_id" />

      <input
        id="blog_update_button"
        class="btn btn-primary float-end"
        type="submit"
        value="{lang_update_button}"
      />
    </form>
  </div>

  <script type="text/javascript">
    $(document).ready(function () {
      $("#catlist").DataTable({
        pagingType: "full_numbers",
        autoWidth: false,
        ordering: false,
        pageLength: 25,
        columns: [
          /* id */ { sWidth: "170px" },
          /* title */ { sWidth: "170px" },
          /* author */ null,
          { sWidth: "20px" },
          /*name */ { sWidth: "80px" },
        ],
      });

      $(".rankup").click(function (e) {
        e.preventDefault();
        var cat_id = $(this).attr("id");
        cat_id = cat_id.replace("rankup_", "");
        $.post(
          "ajax.php?action=ajax_rankup_blog_category",
          { category_id: cat_id },
          function (data) {
            if (data.error == "1") {
              alert(data.error_msg);
            } else {
              $("#blog_settings_categories").load(
                "{baseurl}/admin/ajax.php?action=blog_settings_categories"
              );
            }
          },
          "json"
        );
      });

      $(".rankdown").click(function (e) {
        e.preventDefault();
        var cat_id = $(this).attr("id");
        cat_id = cat_id.replace("rankdown_", "");
        $.post(
          "ajax.php?action=ajax_rankdown_blog_category",
          { category_id: cat_id },
          function (data) {
            if (data.error == "1") {
              alert(data.error_msg);
            } else {
              $("#blog_settings_categories").load(
                "{baseurl}/admin/ajax.php?action=blog_settings_categories"
              );
            }
          },
          "json"
        );
      });

      $(".catdelete").click(function (e) {
        e.preventDefault();
        if (confirmDelete()) {
          var cat_id = $(this).attr("id");
          cat_id = cat_id.replace("catdelete_", "");
          $.post(
            "ajax.php?action=ajax_delete_blog_category",
            { category_id: cat_id },
            function (data) {
              if (data.error == "1") {
                alert(data.error_msg);
              } else {
                $("#blog_settings_categories").load(
                  "{baseurl}/admin/ajax.php?action=blog_settings_categories"
                );
                status_msg("{lang_cat_deleted}");
              }
            },
            "json"
          );
        }
      });

      //edit_cat_
      $(".edit_cat").click(function (e) {
        e.preventDefault();
        var cat_id = $(this).attr("id");
        cat_id = cat_id.replace("edit_cat_", "");

        //Get Blog Values
        $.post(
          "ajax.php?action=ajax_get_category_info",
          { category_id: cat_id },
          function (data) {
            if (data.error == "1") {
              alert(data.error_msg);
            } else {
              $("#edit_category_name").attr("value", data.category_name);
              $("#edit_category_seoname").attr("value", data.category_seoname);
              $("#edit_category_id").attr("value", data.category_id);
              $("#edit_category_description").html(data.category_description);
              $("#edit_category_parent").attr("value", data.parent_id);
              var html = $("#edit_blog_category_modal").html();
              raiseModal("{lang_blog_cat_edit_category}", html);
            }
          },
          "json"
        );
      });

      $(".add_blog_category_button").click(function (e) {
        e.preventDefault();
        var html = $("#add_blog_category_modal").html();
        raiseModal("{lang_blog_add_new_category}", html);
      });

      $("#customizeModal").on(
        "submit",
        "#add_blog_category_form",
        function (e) {
          e.preventDefault();
          $.post(
            "ajax.php?action=ajax_create_blog_category",
            $("#add_blog_category_form").serialize(),
            function (data) {
              if (data.error == "1") {
                alert(data.error_msg);
              } else {
                closeModal();
                status_msg("{lang_cat_created}");
                $("#blog_settings_categories").load(
                  "{baseurl}/admin/ajax.php?action=blog_settings_categories"
                );
              }
            },
            "json"
          );
        }
      );

      $("#customizeModal").on(
        "submit",
        "#edit_blog_category_form",
        function (e) {
          e.preventDefault();
          $.post(
            "ajax.php?action=ajax_update_category_info",
            $("#edit_blog_category_form").serialize(),
            function (data) {
              if (data.error == "1") {
                alert(data.error_msg);
              } else {
                closeModal();
                status_msg("{lang_cat_modified}");
                $("#blog_settings_categories").load(
                  "{baseurl}/admin/ajax.php?action=blog_settings_categories"
                );
              }
            },
            "json"
          );
        }
      );
    });
  </script>
</div>
