<div class="card card-frame mb-4">
  <div class="card-body py-2">
    <h6>{lang_blog_categories}</h6>
    <ul class="nav nav-pills nav-fill flex-column p-1" role="tablist">
      <li class="nav-item">
        <a
          class="nav-link mb-0 px-0 py-1 active"
          data-bs-toggle="tab"
          data-bs-target="#cat_update"
          id="cat_update_tab"
          role="tab"
          aria-controls="cat_update"
          aria-selected="true"
        >
          {lang_blog_categories}
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link mb-0 px-0 py-1"
          data-bs-toggle="tab"
          data-bs-target="#cat_popular"
          id="cat_popular_tab"
          role="tab"
          aria-controls="cat_popular"
          aria-selected="false"
        >
          {lang_blog_most_popular}
        </a>
      </li>
    </ul>
    <!-- the tabs -->
    <div class="tab-content my-3">
      <!-- the tabs -->

      <!-- begin first tab contents -->

      <div
        id="cat_update"
        class="tab-pane fade show active"
        role="tabpanel"
        aria-labelledby="cat_update_tab"
      >
        <form action="#" method="post" id="blog_categories_update">
          {blog_category_block}
          <input
            type="checkbox"
            class="cat_checkbox {child_lvl}"
            name="cat_id"
            value="{blog_category_id}"
            {blog_category_checked}
          />{blog_category_name} <br />
          {/blog_category_block}
        </form>
      </div>

      <!-- begin second tab contents -->
      <div
        id="cat_popular"
        class="tab-pane fade"
        role="tabpanel"
        aria-labelledby="cat_popular_tab"
      >
        <form action="#" method="post" id="blog_popular_categories_update">
          {blog_popularcategory_block}
          <input
            type="checkbox"
            class="cat_checkbox"
            name="cat_id"
            value="{blog_category_id}"
            {blog_category_checked}
          />{blog_category_name}
          <br />
          {/blog_popularcategory_block}
        </form>
      </div>
    </div>

    {check_edit_site_config}
    <div class="btn btn-primary btn-sm blog_add_cat">
      {lang_blog_add_new_category}
    </div>
    {/check_edit_site_config} {!check_edit_site_config} {check_is_blog_editor}
    <div class="btn btn-primary btn-sm blog_add_cat">
      {lang_blog_add_new_category}
    </div>
    {/check_is_blog_editor}{/!check_edit_site_config}

    <div id="add_blog_category" style="display: none; text-align: center">
      <form
        id="add_blog_category_form"
        class="add_blog_category_form"
        action="#"
        method="post"
      >
        <input type="hidden" name="token" value="{csrf_token}" />
        <input id="category_rank" type="hidden" name="rank" value="0" />

        <div class="input-group input-group-static mb-2">
          <label for="category_title">{lang_blog_category_name}</label>
          <input
            type="text"
            name="title"
            id="category_title"
            value=""
            class="form-control"
            required
          />
        </div>

        <div class="input-group input-group-static">
          <label for="add_blog_category_parent" class="ms-0"
            >{lang_blog_category_parent}</label
          >
          <select
            class="form-control"
            name="parent"
            id="add_blog_category_parent"
          >
            {add_blog_category_parent_block}
            <option value="{blog_category_id}">
              {child_lvl}{blog_category_name}
            </option>
            {/add_blog_category_parent_block}
          </select>
        </div>

        <input
          type="submit"
          class="btn btn-primary btn-sm mt-2"
          id="add_category_button"
          value="{lang_blog_add_category}"
        />
      </form>
      <br />
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function () {
    $(".cat_checkbox").change(function () {
      change_blog_cat_status($(this));
    });

    $(".blog_add_cat").click(function () {
      $("#add_blog_category").toggle();
    });

    $("#add_blog_category_form").submit(function (e) {
      e.preventDefault();
      ShowPleaseWait();
      $.post(
        "ajax.php?action=ajax_create_blog_category",
        $("#add_blog_category_form").serialize(),
        function (data) {
          if (data.error == "1") {
            alert(data.error_msg);
          } else {
            $("#blog_categories_update").load(
              "ajax.php?action=edit_blog_post_categories&container=blog_cats"
            );
            $("#add_blog_category_parent").load(
              "ajax.php?action=edit_blog_post_categories&container=blog_cat_parent"
            );
            $(".cat_checkbox").on("change", function () {
              change_blog_cat_status($(this));
            });
            status_msg("{lang_cat_created}");
          }
        },
        "json"
      );
      HidePleaseWait();
    });
  });
</script>
