<div>
  <div class="row">
    <div class="col-12">
      <button
        type="button"
        class="btn btn-primary add_blog_tag_button float-end"
      >
        <i class="fa-solid fa-plus"></i> {lang_blog_add_new_tag}
      </button>
    </div>
  </div>

  <div class="table-responsive" id="blog_tags_container">
    <table class="table align-items-center mb-0" id="taglist">
      <thead>
        <tr>
          <th
            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
          >
            {lang_blog_tag_name}
          </th>
          <th
            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
          >
            {lang_blog_seoname}
          </th>
          <th
            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
          >
            {lang_blog_description}
          </th>
          <th
            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
          >
            Posts
          </th>
          <th
            class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
          >
            Options
          </th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th
            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
          >
            {lang_blog_tag_name}
          </th>
          <th
            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
          >
            {lang_blog_seoname}
          </th>
          <th
            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
          >
            {lang_blog_description}
          </th>
          <th
            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
          >
            Posts
          </th>
          <th
            class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
          >
            Options
          </th>
        </tr>
      </tfoot>
      <tbody>
        {tag_display_block}
        <tr>
          <td>
            <a href="" id="edit_tag_{tag_id}" class="edit_tag">{tag_name}</a>
          </td>
          <td>{tag_seoname}</td>
          <td>{tag_description}</td>
          <td>{tag_post_count}</td>
          <td class="align-middle text-center">
            <span style="padding-right: 6px">
              <a href="" id="edit_tag_{tag_id}" class="edit_tag"
                ><i class="fa-solid fa-pencil-alt"></i
              ></a>
            </span>
            <span>
              <a href="" id="tagdelete_{tag_id}" class="tagdelete"
                ><i class="fa-solid fa-trash"></i
              ></a>
            </span>
          </td>
        </tr>
        {/tag_display_block}
      </tbody>
    </table>
  </div>
</div>

<div id="add_blog_tag_modal" class="d-none">
  <form action="#" id="add_blog_tag_form" type="POST">
    <input type="hidden" name="token" value="{csrf_token}" />
    <div class="input-group input-group-static">
      <label for="title" class="ms-0">{lang_blog_tag_name}</label>
      <input name="title" class="form-control" required />
    </div>

    <div class="input-group input-group-static">
      <label for="seoname" class="ms-0">{lang_blog_seoname}</label>
      <input name="seoname" class="form-control" />
    </div>

    <div class="input-group input-group-static">
      <label for="description" class="ms-0">{lang_blog_description}</label>
      <textarea name="description" class="form-control" rows="5"></textarea>
    </div>

    <input
      id="submit_blog_tag_form"
      class="btn btn-primary float-end"
      type="submit"
      value="{lang_blog_add_tag}"
    />
  </form>
</div>

<div id="edit_blog_tag_modal" class="d-none">
  <form action="#" id="edit_blog_tag_form" type="POST">
    <input type="hidden" name="token" value="{csrf_token}" />
    <div class="input-group input-group-static">
      <label for="title" class="ms-0">{lang_blog_tag_name}</label>
      <input name="title" id="edit_tag_name" class="form-control" required />
    </div>

    <div class="input-group input-group-static">
      <label for="seoname" class="ms-0">{lang_blog_seoname}</label>
      <input name="seoname" id="edit_tag_seoname" class="form-control" />
    </div>

    <div class="input-group input-group-static">
      <label for="description" class="ms-0">{lang_blog_description}</label>
      <textarea
        name="description"
        id="edit_tag_description"
        class="form-control"
        rows="5"
      ></textarea>
    </div>

    <input type="hidden" name="tag_id" id="edit_tag_id" />

    <input
      id="blog_update_button"
      class="btn btn-primary float-end"
      type="submit"
      value="{lang_update_button}"
    />
  </form>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $("#taglist").DataTable({
      pagingType: "full_numbers",
      autoWidth: false,
      ordering: false,
      pageLength: 25,
    });

    //Add Click Events to icons.
    $(".tagdelete").click(function (e) {
      e.preventDefault();
      if (confirmDelete()) {
        var tag_id = $(this).attr("id");
        tag_id = tag_id.replace("tagdelete_", "");
        $.post(
          "ajax.php?action=ajax_delete_blog_tag",
          { tag_id: tag_id },
          function (data) {
            if (data.error == "1") {
              alert(data.error_msg);
            } else {
              $("#blog_settings_tags").load(
                "{baseurl}/admin/ajax.php?action=blog_settings_tags"
              );
              status_msg("{lang_tag_deleted}");
            }
          },
          "json"
        );
      }
    });

    //edit_tag_
    $(".edit_tag").click(function (e) {
      e.preventDefault();
      var tag_id = $(this).attr("id");
      tag_id = tag_id.replace("edit_tag_", "");

      //Get Blog Values
      $.post(
        "ajax.php?action=ajax_get_tag_info",
        { tag_id: tag_id },
        function (data) {
          if (data.error == "1") {
            alert(data.error_msg);
          } else {
            $("#edit_tag_name").attr("value", data.tag_name);
            $("#edit_tag_seoname").attr("value", data.tag_seoname);
            $("#edit_tag_id").attr("value", data.tag_id);
            $("#edit_tag_description").html(data.tag_description);
            var html = $("#edit_blog_tag_modal").html();
            raiseModal("{lang_blog_tag_edit_tag}", html);
          }
        },
        "json"
      );
    });

    $("#customizeModal").on("submit", "#edit_blog_tag_form", function (e) {
      e.preventDefault();

      $.post(
        "ajax.php?action=ajax_update_tag_info",
        $("#edit_blog_tag_form").serialize(),
        function (data) {
          if (data.error == "1") {
            alert(data.error_msg);
          } else {
            $("#blog_settings_tags").load(
              "{baseurl}/admin/ajax.php?action=blog_settings_tags"
            );
            closeModal();
            status_msg("{lang_tag_modified}");
          }
        },
        "json"
      );
    });

    //$("div.add_blog_tag").html('<button type="button" class="or_std_button add_blog_tag_button"><span class="ui-icon ui-icon-plusthick"></span> {lang_blog_add_new_tag}</button>');

    $(".add_blog_tag_button").click(function (e) {
      e.preventDefault();
      var html = $("#add_blog_tag_modal").html();
      raiseModal("{lang_blog_add_new_tag}", html);
    });

    $("#customizeModal").on("submit", "#add_blog_tag_form", function (e) {
      e.preventDefault();
      $.post(
        "ajax.php?action=ajax_create_blog_tag_noassignment",
        $("#add_blog_tag_form").serialize(),
        function (data) {
          if (data.error == "1") {
            alert(data.error_msg);
          } else {
            $("#blog_settings_tags").load(
              "{baseurl}/admin/ajax.php?action=blog_settings_tags"
            );
            closeModal();
            status_msg("{lang_tag_created}");
          }
        },
        "json"
      );
    });
  });
</script>
