<form
 id="site_config_general"
 method="post"
 action=""
>
	<div class="row align-items-end mb-2">
		<div class="col-12 col-md-4">
			<div class="input-group input-group-static mb-2">
				<label for="controlpanel_blogs_per_page">{lang_blogs_per_page}</label>
				<input
				 type="text"
				 name="controlpanel_blogs_per_page"
				 id="title"
				 value="{controlpanel_blogs_per_page}"
				 class="form-control"
				/>
			</div>
		</div>
		<div class="col text-sm">{lang_blogs_per_page_desc}</div>
	</div>
	<div class="row align-items-end mb-2">
		<div class="col-12 col-md-4">
			<div class="input-group input-group-static">
				<label
				 for="controlpanel_blog_requires_moderation"
				 class="ms-0"
				>{lang_blog_requires_moderation}</label>
				<select
				 name="controlpanel_blog_requires_moderation"
				 class="form-control"
				 id="controlpanel_blog_requires_moderation"
				>
					{default_page_block}
					<option
					 value="{value}"
					 {selected}
					>{text}</option>
					{/default_page_block}
				</select>
			</div>
		</div>
		<div class="col text-sm">{lang_blog_requires_moderation_desc}</div>
	</div>

	<div class="row align-items-end mb-2">
		<div class="col-12 col-md-4">
			<div class="input-group input-group-static">
				<label
				 for="controlpanel_blog_requires_moderation"
				 class="ms-0"
				>{lang_blog_requires_moderation}</label>
				<select
				 name="controlpanel_blog_requires_moderation"
				 class="form-control"
				 id="controlpanel_blog_requires_moderation"
				>
					{blog_requires_moderation_block}
					<option
					 value="{value}"
					 {selected}
					>{text}</option>
					{/blog_requires_moderation_block}
				</select>
			</div>
		</div>
		<div class="col text-sm">{lang_blog_requires_moderation_desc}</div>
	</div>

	<div class="row align-items-end mb-2">
		<div class="col-12 col-md-4">
			<div class="input-group input-group-static">
				<label
				 for="controlpanel_allow_pingbacks"
				 class="ms-0"
				>{lang_allow_pingbacks}</label>
				<select
				 name="controlpanel_allow_pingbacks"
				 class="form-control"
				 id="controlpanel_allow_pingbacks"
				>
					{allow_pingbacks_block}
					<option
					 value="{value}"
					 {selected}
					>{text}</option>
					{/allow_pingbacks_block}
				</select>
			</div>
		</div>
		<div class="col text-sm">{lang_allow_pingbacks_desc}</div>
	</div>

	<div class="row align-items-end mb-2">
		<div class="col-12 col-md-4">
			<div class="input-group input-group-static">
				<label
				 for="controlpanel_send_url_pingbacks"
				 class="ms-0"
				>{lang_send_url_pingbacks}</label>
				<select
				 name="controlpanel_send_url_pingbacks"
				 class="form-control"
				 id="controlpanel_send_url_pingbacks"
				>
					{send_url_pingbacks_block}
					<option
					 value="{value}"
					 {selected}
					>{text}</option>
					{/send_url_pingbacks_block}
				</select>
			</div>
		</div>
		<div class="col text-sm">{lang_send_url_pingbacks_desc}</div>
	</div>

	<div class="row align-items-end mb-2">
		<div class="col-12 col-md-4">
			<div class="input-group input-group-static">
				<label
				 for="controlpanel_send_service_pingbacks"
				 class="ms-0"
				>{lang_send_service_pingbacks}</label>
				<select
				 name="controlpanel_send_service_pingbacks"
				 class="form-control"
				 id="controlpanel_send_service_pingbacks"
				>
					{send_service_pingbacks_block}
					<option
					 value="{value}"
					 {selected}
					>{text}</option>
					{/send_service_pingbacks_block}
				</select>
			</div>
		</div>
		<div class="col text-sm">{lang_send_service_pingbacks_desc}</div>
	</div>


	<div class="row align-items-end mb-2">
		<div class="col-12 col-md-4">
			<div class="input-group input-group-static">
				<label
				 for="controlpanel_blog_pingback_urls"
				 class="ms-0"
				>{lang_blog_pingback_urls}</label>
				<textarea
				 class="form-control"
				 name="controlpanel_blog_pingback_urls"
				 rows="10"
				>{controlpanel_blog_pingback_urls}</textarea>
			</div>
		</div>
		<div class="col text-sm">{lang_blog_pingback_urls_desc}</div>
	</div>


	<input
	 type="submit"
	 id="blog_update_button"
	 class="btn btn-primary"
	 value="{lang_save_changes}"
	/>

</form>


<script type="text/javascript">

	$("#site_config_general").submit(function (e) {
		e.preventDefault();
		$.post("ajax.php?action=update_site_config", $("#site_config_general").serialize(), function (data) {
			if (data.error == "1") {
				status_error(data.error_msg);
			} else {
				status_msg(data.status);
			}
		}, "json");
	});
</script>