<div
  class="row justify-content-center my-2 border border-primary"
  style="min-height: 50px"
>
  <div id="headline" class="col-auto">
    <div class="w-100 text-center">Headline</div>
    <ul
      id="headline-list"
      data-or-section="headline"
      class="list-group or-sortable"
    >
      {headline_item_block}
      <li
        id="{field_name}"
        data-id="{field_name}"
        class="w-100 badge rounded-pill bg-secondary mb-1 text-start"
      >
        <a
          href=""
          class="edit_field_link"
          id="rank_{field_rank}"
          name="{field_name}"
          >{field_caption} {required_block}<i
            class="fa-solid fa-asterisk float-end"
          ></i
          >{/required_block}</a
        >
      </li>
      {/headline_item_block}
    </ul>
  </div>
</div>
<div class="row">
  <div id="top_left" class="col-6 my-2 border border-primary">
    <div class="w-100 text-center">Top Left</div>
    <ul
      id="top_left-list"
      data-or-section="top_left"
      class="list-group or-sortable"
    >
      {top_left_item_block}
      <li
        id="{field_name}"
        data-id="{field_name}"
        class="w-100 badge rounded-pill bg-secondary mb-1 text-start"
      >
        <a
          href=""
          class="edit_field_link"
          id="rank_{field_rank}"
          name="{field_name}"
          >{field_caption} {required_block}
          <i class="fa-solid fa-asterisk float-end"></i>{/required_block}</a
        >
      </li>
      {/top_left_item_block}
    </ul>
  </div>
  <div id="top_right" class="col-6 my-2 border border-primary">
    <div class="w-100 text-center">Top Right</div>
    <ul
      id="top_right-list"
      data-or-section="top_right"
      class="list-group or-sortable"
    >
      {top_right_item_block}
      <li
        id="{field_name}"
        data-id="{field_name}"
        class="w-100 badge rounded-pill bg-secondary mb-1 text-start"
      >
        <a
          href=""
          class="edit_field_link"
          id="rank_{field_rank}"
          name="{field_name}"
          >{field_caption} {required_block}<i
            class="fa-solid fa-asterisk float-end"
          ></i
          >{/required_block}</a
        >
      </li>
      {/top_right_item_block}
    </ul>
  </div>
</div>
<div
  class="row justify-content-center my-2 border border-primary"
  style="min-height: 50px"
>
  <div id="center" class="col-auto">
    <div class="w-100 text-center">Center</div>
    <ul
      id="center-list"
      data-or-section="center"
      class="list-group or-sortable"
    >
      {center_item_block}
      <li
        id="{field_name}"
        data-id="{field_name}"
        class="w-100 badge rounded-pill bg-secondary mb-1 text-start"
      >
        <a
          href=""
          class="edit_field_link"
          id="rank_{field_rank}"
          name="{field_name}"
          >{field_caption} {required_block}<i
            class="fa-solid fa-asterisk float-end"
          ></i
          >{/required_block}</a
        >
      </li>
      {/center_item_block}
    </ul>
  </div>
</div>

<div class="row">
  <div id="bottom_left" class="col-6 my-2 border border-primary">
    <div class="w-100 text-center">Bottom Left</div>
    <ul
      id="bottom_left-list"
      data-or-section="bottom_left"
      class="list-group or-sortable"
    >
      {bottom_left_item_block}
      <li
        id="{field_name}"
        data-id="{field_name}"
        class="w-100 badge rounded-pill bg-secondary mb-1 text-start"
      >
        <a
          href=""
          class="edit_field_link"
          id="rank_{field_rank}"
          name="{field_name}"
          >{field_caption} {required_block}<i
            class="fa-solid fa-asterisk float-end"
          ></i
          >{/required_block}</a
        >
      </li>
      {/bottom_left_item_block}
    </ul>
  </div>
  <div id="bottom_right" class="col-6 my-2 border border-primary">
    <div class="w-100 text-center">Bottom Right</div>
    <ul
      id="bottom_right-list"
      data-or-section="bottom_right"
      class="list-group or-sortable"
    >
      {bottom_right_item_block}
      <li
        id="{field_name}"
        data-id="{field_name}"
        class="w-100 badge rounded-pill bg-secondary mb-1 text-start"
      >
        <a
          href=""
          class="edit_field_link"
          id="rank_{field_rank}"
          name="{field_name}"
          >{field_caption} {required_block}<i
            class="fa-solid fa-asterisk float-end"
          ></i
          >{/required_block}</a
        >
      </li>
      {/bottom_right_item_block}
    </ul>
  </div>
</div>
<div
  class="row justify-content-center my-2 border border-primary"
  style="min-height: 50px"
>
  <div id="misc" class="col-auto">
    <div class="w-100 text-center">Unassigned</div>
    <ul id="misc-list" data-or-section="misc" class="list-group or-sortable">
      {misc_item_block}
      <li
        id="{field_name}"
        data-id="{field_name}"
        class="w-100 badge rounded-pill bg-secondary mb-1 text-start"
      >
        <a
          href=""
          class="edit_field_link"
          id="rank_{field_rank}"
          name="{field_name}"
          >{field_caption} {required_block}<i
            class="fa-solid fa-asterisk float-end"
          ></i
          >{/required_block}</a
        >
      </li>
      {/misc_item_block}
    </ul>
  </div>
</div>

<script type="text/javascript">
  var sections = document.getElementsByClassName("or-sortable");
  var Sortables = new Array();
  Array.from(sections).forEach((element, index) => {
    console.log("Setting Up Sortable for " + element.id);
    Sortables[parseInt(index)] = Sortable.create(element, {
      group: "or-sortable",
      onSort: function (e) {
        var updateSection = element.getAttribute("data-or-section");
        var order = Sortables[parseInt(index)].toArray();
        if (order.length > 0) {
          $.post(
            "ajax.php?action=ajax_save_form_field_order",
            { "fields[]": order, section: updateSection },
            function (data) {
              if (data.error == true) {
                status_error(data.error_msg);
              } else {
                status_msg(data.status_msg);
              }
            },
            "json"
          );
        }
      },
    });
  });

  $("#edit_field_list").change(function () {
    var fname = $("#edit_field_list").val();
    if (fname != "") {
      $.get("ajax.php?action=ajax_get_form_field_info", {
        edit_field: fname,
      }).done(function (data) {
        raiseModal("{lang_leadmanager_edit_text}", data);
      });
    }
  });

  $(".edit_field_link").click(function (e) {
    e.preventDefault();
    var fname = $(this).attr("name");
    $.get("ajax.php?action=ajax_get_form_field_info", {
      edit_field: fname,
    }).done(function (data) {
      raiseModal("{lang_leadmanager_edit_text}", data);
    });
  });
</script>
