<div class="card card-frame mb-4">
  <div class="table-responsive m-4">
    <!-- container for tab panes -->
    <div class="btn-group mb-4">
      <a
        href="#"
        id="lead_filter_active"
        class="btn btn-primary active"
        aria-current="page"
        ><i class="fa-solid fa-toggle-on"></i> {lang_leadmanager_status_active}
        ({lead_active_count})</a
      >
      <a href="#" id="lead_filter_inactive" class="btn btn-primary"
        ><i class="fa-solid fa-toggle-off"></i>
        {lang_leadmanager_status_inactive} ({lead_inactive_count})</a
      >
    </div>

    <table class="table table-striped" id="showleads">
      <thead>
        <tr>
          <th></th>
          <th>{lang_leadmanager_leadname}</th>
          <th>{lang_leadmanager_created}</th>
          <th>{lang_leadmanager_priority}</th>
          <th>{lang_leadmanager_status}</th>
          <th>{lang_leadmanager_agent}</th>
          <th>{lang_leadmanager_actions}</th>
        </tr>
      </thead>

      <tbody></tbody>
    </table>
  </div>
</div>

<link
  rel="stylesheet"
  href="{baseurl}/node_modules/datatables.net-bs5/css/dataTables.bootstrap5.min.css"
/>
<script
  type="text/javascript"
  src="{baseurl}/node_modules/datatables.net/js/jquery.dataTables.min.js"
></script>
<script
  type="text/javascript"
  src="{baseurl}/node_modules/datatables.net-bs5/js/dataTables.bootstrap5.min.js"
></script>

<script type="text/javascript">
  var leadFilterStatus = 1;
  $(document).ready(function () {
    //Load Datatable
    var asInitVals = new Array();
    var oTable = $("#showleads").DataTable({
      pagingType: "full_numbers",
      autoWidth: false,
      ajax: "ajax.php?action=ajax_leadmanager_datatable&show_all_leads={show_agent_column}", // intval($show_all_leads).'
      processing: true,
      serverSide: true,
      pageLength: 25,
      //"sDom": '<"top" <il><"clear"><"space_10"> fp <"clear">> rt <"bottom"ip <"clear">>',
      /* "bFilter":false, */
      columns: [
        { visible: true },
        { width: "120px" },
        { type: "date", orderData: 2, width: "180px" },
        { visible: false },
        { width: "80px" },
        { width: "120px", visible: {show_agent_column} },
        null,
      ],
      order: [[0, "desc"]],
    });

    oTable.columns(4).search("1");

    $("#lead_filter_inactive").click(function (e) {
      e.preventDefault();
      oTable.columns(4).search("0");
      oTable.draw();
      leadFilterStatus = 0;
    });
    $("#lead_filter_active").click(function (e) {
      e.preventDefault();
      oTable.columns(4).search("1");
      oTable.draw();
      leadFilterStatus = 1;
    });
  });
  function deleteLead(leadid) {
    //Delete Listings

    if (confirmDelete()) {
      $.getJSON(
        "ajax.php?action=ajax_delete_lead",
        { lead_id: leadid },
        function (json) {
          if (json.error == 0) {
            var oTable = $("#showleads").dataTable();
            oTable.fnDraw();
            status_msg("Lead " + json.lead_id + " deleted");
          } else {
            status_error(json.error_msg);
          }
        }
      );
    }
    return false;
  }
  function gotoLead(url) {
    window.location = url + "&active=" + leadFilterStatus;
  }
</script>
