<div id="inner_file_page">
  {file_upload_block}
  <div>
    <a href="#" class="btn btn-sm btn-primary" id="file_upload_link"
      >{lang_upload_a_file}</a
    >
  </div>
  <div class="filedrag" id="leffiledrag">or drop files here</div>
  {/file_upload_block}

  <ul id="file_sort_list" class="sort_list">
    {file_block}
    <li id="mediaOrder_{file_id}" data-id="{file_id}">
      <div class="move_file_container">
        <i class="fa-solid fa-file-download"></i>
        <i class="move_handle float-end fas fa-grip-lines"></i>
        <br />
        <a id="file_{file_id}" href="#" class="edit_file_link">
          <img
            src="{icon_src}"
            height="'{icon_height}"
            width="{icon_width}"
            alt="{file_name}"
          />
          <br />
          <span class="file_name_display">{file_name}</span><br />
          <strong>{file_caption}</strong>
        </a>
      </div>
    </li>
    {/file_block}
  </ul>

  <div>
    <a href="#" class="btn btn-danger btn-small" id="files_delete_all"
      >{lang_media_delete_all_files}</a
    >
  </div>
</div>

<script type="text/javascript">
  $("#files_delete_all").click(function () {
    if (confirm("{lang_media_delete_all_files_confirm}")) {
      $.getJSON(
        "ajax.php?action=ajax_delete_all&media_object_id=*&media_type=listingsfiles&media_parent_id={listing_id}",
        function (data) {
          if (data.error == "1") {
            alert(data.error_msg);
          }
          $("#listing_file_pane").load(
            "{baseurl}/admin/ajax.php?action=ajax_display_listing_files&listing_id={listing_id}"
          );
        }
      );
    }
    return false;
  });

  var element = document.getElementById("file_sort_list");
  ListingFileSortable = Sortable.create(element, {
    group: "listingsimages",
    handle: ".move_handle",
    onSort: function (e) {
      var updateSection = element.getAttribute("data-or-section");
      var order = ListingFileSortable.toArray();
      if (order.length > 0) {
        $.post(
          "ajax.php?action=ajax_save_media_order",
          {
            media_type: "listingsfiles",
            parent_id: "{listing_id}",
            "mediaOrder[]": order,
          },
          function (data) {
            if (data.error == true) {
              status_error(data.error_msg);
            } else {
              status_msg("{lang_generic_saved_text}");
            }
          },
          "json"
        );
      }
    },
  });

  $("#file_upload_link").click(function (e) {
    e.preventDefault;
    $.get(
      "ajax.php?action=ajax_display_upload_media&edit={listing_id}&media_type=listingsfiles"
    ).done(function (data) {
      raiseModal("{lang_upload_files}", data);
    });
  });

  $(".download_file").click(function () {
    var media_id = $(this).attr("id");
    media_id = media_id.replace("file_download_", "");
    /*eslint-disable security/detect-non-literal-fs-filename*/
    window.open(
      "{baseurl}/index.php?action=create_download&ID={listing_id}&file_id=" +
        parseInt(media_id) +
        "&type=listing",
      "orfiledownload"
    );
    /*eslint-enable security/detect-non-literal-fs-filename*/
    return false;
  });
  $(".edit_file_link").click(function () {
    var media_id = $(this).attr("id");
    media_id = media_id.replace("file_", "");
    $.getJSON(
      "ajax.php?action=ajax_get_media_info&media_id=" +
        media_id +
        "&media_type=listingsfiles",
      function (data) {
        if (data.error == "1") {
          alert(data.error_msg);
        } else {
          $("#media_id_holder").val(media_id);
          $("#media_type_holder").val("listingsfiles");
          $("#edit_media_file_name").text(data.file_name);
          $("#edit_media_thumb_tag").hide();
          $("#edit_media_full_tag").hide();
          $("#edit_media_thumbnail_caption").hide();
          $("#edit_media_caption").val(data.media_caption);
          $("#edit_media_description").val(data.media_description);

          $("#edit_listing_image_modal").modal("show");
        }
      }
    );

    return false;
  });
  $("#leffiledrag").filedrop({
    url: "ajax.php?action=ajax_upload_media_JSON", // upload handler, handles each file separately
    paramname: "userfile[]", // POST parameter name used on serverside to reference file
    data: {
      edit: "{listing_id}", // send POST variables
      media_type: "listingsfiles",
    },
    maxfilesize: 25,
    error: function (err, file) {
      switch (err) {
        case "BrowserNotSupported":
          alert("{lang_browser_unsupported}");
          break;
        case "TooManyFiles":
          // user uploaded more than 'maxfiles'
          break;
        case "FileTooLarge":
          // program encountered a file whose size is greater than 'maxfilesize'
          // FileTooLarge also has access to the file which was too large
          // use file.name to reference the filename of the culprit file
          break;
        default:
          break;
      }
    },
    uploadFinished: function (i, file, response, time) {
      $(".fileuploadmeter > span").width("100%");
      if (response.status != "File(s) Uploaded Successfully") {
        alert(response.status);
      }
    },
    uploadStarted: function (i, file, len) {
      ShowUploadStatus();
      $(".fileuploadmeter > span").width(0);
    },
    progressUpdated: function (i, file, progress) {
      $(".fileuploadmeter > span").width(progress);
    },
    afterAll: function () {
      HideUploadStatus();
      // runs after all files have been uploaded or otherwise dealt with
      $("#listing_file_pane").load(
        "{baseurl}/admin/ajax.php?action=ajax_display_listing_files&listing_id={listing_id}"
      );
    },
  });
</script>
