<div class="row">
  <div class="col-lg-4 col-md-8 col-12 mx-auto">
    <div class="card z-index-0 fadeIn3 fadeInBottom">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div
          class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1"
        >
          <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">
            {lang_login}
          </h4>
        </div>
      </div>
      <div class="card-body">
        {login_error_msg_block}
        <div class="alert alert-danger text-white">{login_error_msg}</div>
        {/login_error_msg_block}
        <form action="" method="post" role="form" class="text-start" id="admin_login">
          <input type="hidden" name="token" value="{csrf_token}" />
          <div class="input-group input-group-outline my-3">
            <label class="form-label">{lang_admin_login_name}</label>
            <input
              name="user_name"
              type="text"
              autocomplete="username"
              maxlength="30"
              class="form-control"
              spellcheck="false"
              required
            />
          </div>
          <div class="input-group input-group-outline mb-3">
            <label class="form-label">{lang_admin_password}</label>
            <input
              name="user_pass"
              type="password"
              autocomplete="current-password"
              spellcheck="false"
              maxlength="30"
              class="form-control"
              required
            />
          </div>
          <div class="form-check form-switch d-flex align-items-center mb-3">
            <input
              class="form-check-input"
              name="remember"
              value="1"
              type="checkbox"
              id="remember_me"
            />
            <label class="form-check-label mb-0 ms-2" for="rememberMe"
              >{lang_remember_me}</label
            >
          </div>
          <div class="text-center">
            <button
              type="submit"
              class="btn bg-gradient-primary w-100 my-4 mb-2 login_button"
            >
              {lang_login}
            </button>
            {google_auth_block}<a class="btn btn bg-gradient-primary w-100 mb-2 " href="{google_auth_url}">{lang_google_login}</a>{/google_auth_block}
          </div>
          <!-- <p class="mt-4 text-sm text-center">
            Don't have an account?
            <a
              href="../pages/sign-up.html"
              class="text-primary text-gradient font-weight-bold"
              >Sign up</a
            >
          </p> -->
        </form>
        <form
          action="index.php?action=send_forgot"
          method="post"
          class="form mt-2 border-primary border p-2"
        >
          <input type="hidden" name="token" value="{csrf_token}" />
          <div class="input-group input-group-outline mb-2">
            <label class="ms-0">{lang_enter_your_email_address_for_pass}</label>
            <input
              type="email"
              name="email"
              class="form-control"
              placeholder="{lang_email}"
              required
            />
          </div>

          <input
            class="btn bg-gradient-primary w-100"
            type="submit"
            value="{lang_lookup}"
          />
        </form>
      </div>
    </div>
  </div>
</div>
