<script
 type="text/javascript"
 src="{baseurl}/node_modules/ckeditor4/ckeditor.js"
></script>
<script
 type="text/javascript"
 src="{baseurl}/node_modules/ckeditor4/adapters/jquery.js"
></script>
<script type="text/javascript">
  var custom_folder = "{baseurl}/include/class/ckeditor/custom";
  var baseurl = "{baseurl}";

  var pageIsDirty = false;

  window.onbeforeunload = function () {
    if (pageIsDirty == true) {
      return "{lang_unsaved_changes}";
    }
  };
  window.onunload = function () {
    if (pageIsDirty == true) {
      //Clear Dirty State
      //Do a autosave with no content to keep alive session.
      $.post(
        "ajax.php?action=ajax_update_page_post_autosave",
        {
          pageID: $("#pageID").val(),
          ta: "",
        },
        function (data) {
          if (data.error == "1") {
            status_error(data.error_msg);
          } else {
            //alert("Null Auto Saved");
          }
        },
        "json"
      );
      pageIsDirty = false;
    }
  };
  var CKEDITOR_BASEPATH = "{basepath}/include/class/ckeditor";
  var CKEDITOR_BASEURL = "{baseurl}/include/class/ckeditor";

  $(document).ready(function () {
    $("#ta").ckeditor({
      toolbar: "Page",
      templates: "custom",
      templates_files: [CKEDITOR_BASEURL + "/custom/mytemplates.js"],

      customConfig: CKEDITOR_BASEURL + "/custom/page_config.js",
      on: {
        instanceReady: instanceReadyEvent,
      },
      filebrowserBrowseUrl: CKEDITOR_BASEURL + "/custom/filemanager/index.php",
      language: "{lang}",
    });

    $("#page_update_button").click(function (e) {
      e.preventDefault();
      send_page_update($("#page_status_value").val());
    });
    $("#page_delete_button").click(function (e) {
      e.preventDefault();
      agree = confirmDelete("{lang_confirm_delete}");
      if (agree) {
        ShowPleaseWait();
        $.post(
          "ajax.php?action=ajax_delete_page_post",
          { pageID: $("#pageID").val() },
          function (data) {
            if (data.error == "1") {
              status_error(data.error_msg);
            } else {
              document.location.href = "index.php?action=edit_page";
            }
          },
          "json"
        );
        HidePleaseWait();
      }
    });
    $("#page_edit_form").submit(function (e) {
      e.preventDefault();
      send_page_update($("#page_status_value").val());
    });
    $("#page_revert_button").click(function (e) {
      e.preventDefault();
      var okToRevert = confirmDelete("{lang_revert_changes_confirmation}");
      if (okToRevert) {
        $.post(
          "ajax.php?action=ajax_update_page_post_autosave",
          {
            pageID: $("#pageID").val(),
            ta: "",
            token: $("#pageToken").val(),
          },
          function (data) {
            if (data.error == "1") {
              status_error(data.error_msg);
            } else {
              //alert("Null Auto Saved");
            }
          },
          "json"
        );
        pageIsDirty = false;
        document.location.href =
          "index.php?action=edit_page_post&id=" + $("#pageID").val();
      }
    });
    setInterval(send_page_autosave, 60000);
  });

  function send_page_autosave() {
    if (pageIsDirty == true) {
      $.post(
        "ajax.php?action=ajax_update_page_post_autosave",
        {
          pageID: $("#pageID").val(),
          ta: CKEDITOR.instances.ta.getData(),
          token: $("#pageToken").val(),
        },
        function (data) {
          if (data.error == "1") {
            status_error(data.error_msg);
          } else {
            status_msg("{lang_autosave_draft}");
            $("#page_revert_button").show();
		        $("#unsaved_changes").show();
          }
        },
        "json"
      );
    } else {
      //Do a autosave with no content to keep alive session.
      $.post(
        "ajax.php?action=ajax_update_page_post_autosave",
        {
          pageID: $("#pageID").val(),
          ta: "",
          token: $("#pageToken").val(),
        },
        function (data) {
          if (data.error == "1") {
            status_error(data.error_msg);
          } else {
            //alert("Null Auto Saved");
          }
        },
        "json"
      );
    }
  }

  function send_page_update(page_status) {
    ShowPleaseWait();
    $.post(
      "ajax.php?action=ajax_update_page_post",
      {
        pageID: $("#pageID").val(),
        title: $("#page_edit_title").val(),
        ta: CKEDITOR.instances.ta.getData(),
        description: $("#metadata_description").val(),
        keywords: $("#metadata_keywords").val(),
        status: page_status,
        seotitle: $("#seotitle").val(),
        token: $("#pageToken").val(),
      },
      function (data) {
        if (data.error == "1") {
          status_error(data.error_msg);
        } else {
          pageIsDirty = false;
          status_msg("{lang_page_saved}");
          $("#page_revert_button").hide();
	      	$("#unsaved_changes").hide();

          if (page_status == "1") {
            $("#page_publish_button_div").hide();
            $("#page_review_button_div").hide();
            $("#page_status_text").text("{lang_page_published}");
          } else if (page_status == "2") {
            $("#page_review_button_div").hide();
            $("#page_status_text").html("{lang_page_review}");
          }
          $("#seotitle").val(data.seotitle);
        }
      },
      "json"
    );
    HidePleaseWait();
  }

  function instanceReadyEvent() {
    $.post(
      "ajax.php?action=ajax_get_page_post",
      {
        pageID: $("#pageID").val(),
      },
      function (data) {
        if (data.error == "1") {
          status_error(data.error_msg);
        } else {
          $("#page_edit_title").val(data.title);
          $("#seotitle").val(data.seotitle);
          $("#description").val(data.description);
          $("#keywords").val(data.keywords);
          CKEDITOR.instances.ta.setData(data.full, function () {
            ckeditor_word_count();

            CKEDITOR.instances.ta.on("mode", function () {
              if (this.mode == "source") {
                var editable = CKEDITOR.instances.ta.editable();
                editable.attachListener(editable, "input", function () {
                  set_page_status_modified();
                });
              }
            });
            CKEDITOR.instances.ta.on("change", function () {
              set_page_status_modified();
            });
            $("#page_edit_title").change(set_page_status_modified);
            $("#seotitle").change(set_page_status_modified);
            $("#metadata_description").change(set_page_status_modified);
            $("#metadata_keywords").change(set_page_status_modified);
            $("#page_edit_title").keypress(set_page_status_modified);
            $("#seotitle").keypress(set_page_status_modified);
            $("#metadata_description").keypress(set_page_status_modified);
            $("#metadata_keywords").keypress(set_page_status_modified);
          });


        }
      },
      "json"
    );
  }

  function set_page_status_modified() {
    pageIsDirty = true;
    $("#page_revert_button").show();
		$("#unsaved_changes").show();
  }
  function ckeditor_word_count() {
    var matches = CKEDITOR.instances.ta
      .getData()
      .replace(/<[^<|>]+?>|&nbsp;/gi, " ")
      .replace(
        /((https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/gi,
        " word "
      )
      .match(/\b/g);
    var count = 0;

    if (matches) {
      count = Math.floor(matches.length / 2);
    }

    document.getElementById("word_count").innerHTML = count;
  }
</script>
<div class="card card-frame mb-4">
  <div class="card-body py-2">
    <form
     action="{page_edit_action}"
     method="post"
     id="page_edit_form"
     name="edit"
    >
      <input
       type="hidden"
       name="edit"
       value="yes"
      />
      <input
       type="hidden"
       id="pageID"
       name="pageID"
       value="{page_id}"
      />
      <input type="hidden" id="pageToken" name="token" value="{csrf_token}" />


      <div
       class="row justify-content-between"">
		
        <div class="
       col-auto"
      >
        <div class="input-group input-group-static mb-2">
          <label for="title">{lang_page_title}</label>
          <input
           type="text"
           name="title"
           id="page_edit_title"
           value=""
           class="form-control required"
          />
        </div>
      </div>

      <div class="col-auto">

          <div class="input-group input-group-static">
            <label
             for="page_status_value"
             class="ms-0"
            >{lang_page_status}</label>
            <select
             class="form-control"
             id="page_status_value"
            >
              {page_status_option_block}
              <option
               value="{page_status_value}"
               {page_status_selected}
              >
                {page_status_text}
              </option>
              {/page_status_option_block}
            </select>
          </div>
      </div>
      <div class="col-auto">

        <!-- Revert Button -->
        <button
         class="btn btn-primary btn-sm"
         id="page_revert_button"
        >
          <i class="fa-solid fa-undo"></i></span> {lang_revert_changes}
        </button>

        <!-- Save Button -->
        {page_update_block}
        <button
         class="btn btn-primary btn-sm"
         id="page_update_button"
        >
          <i class="fa-solid fa-save"></i></span> {lang_page_update_post}
        </button>
        {/page_update_block}

        <!-- Delete Button -->
        {page_delete_block}
        <button
         class="btn btn-danger btn-sm"
         id="page_delete_button"
        >
          <i class="fa-solid fa-trash"></i></span> {lang_delete_page}
        </button>
        {/page_delete_block}
      </div>
  </div>

  <div
   class="alert alert-warning collapse"
   id="unsaved_changes"
   role="alert"
  >
    {lang_unsaved_changes}
  </div>

  <div id="edit_page_post_editor">
    <textarea
     name="ta"
     id="ta"
    ></textarea>
  </div>

  <div
   class="row mt-4"
   id="page_stats"
  >
    <div class="col-auto">

      <div class="input-group input-group-static mb-2">
        <label for="word_count">{lang_word_count}</label>
        <span
         class="form-control"
         id="word_count"
        ></span>
      </div>

      <div class="input-group input-group-static mb-2">
        <label for="page_tag">{lang_template_tag_for_page}</label>
        <input
         type="text"
         name="page_tag"
         id="page_tag"
         value="&#123;page_link_{page_id}&#125;"
         class="form-control"
         readonly
        />
      </div>

      <div class="input-grouup mb-2">
        <span class="form-label">{lang_link_to_page}</span>
        <a
         class="form-control-plaintext"
         id="page_link"
         href="{page_article_url}"
         title=""
        >{page_article_url}</a>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="input-group input-group-static mb-2">
      <label for="seotitle">{lang_page_seo_title}</label>
      <input
       type="text"
       name="seotitle"
       id="seotitle"
       value=""
       class="form-control"
      />
    </div>
    <div class="input-group input-group-static mb-2">
      <label for="description">{lang_page_meta_description}</label>
      <input
       type="text"
       name="description"
       id="metadata_description"
       value=""
       class="form-control"
      />
    </div>
    <div class="input-group input-group-static mb-2">
      <label for="keywords">{lang_page_meta_keywords}</label>
      <input
       type="text"
       name="keywords"
       id="metadata_keywords"
       value=""
       class="form-control"
      />
    </div>

  </div>

  </form>
</div>
</div>