<div class="card card-frame mb-4">
  <div class="card-body py-2">
    <a class="btn btn-primary" href="index.php?action=insert_property_class"
      ><span class="ui-icon ui-icon-plusthick"></span>
      {lang_property_class_insert}</a
    >

    <div class="table-responsive">
      <table class="table align-items-center mb-0">
        <thead>
          <tr>
            <th></th>
            <th>
              <span
                class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                >{lang_property_class_id}</span
              >
            </th>
            <th>
              <span
                class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                >{lang_property_class_name}</span
              >
            </th>
            <th>
              <span
                class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                >{lang_property_class_rank}</span
              >
            </th>
            <th>
              <span
                class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                >{lang_action}</span
              >
            </th>
          </tr>
        </thead>

        <tbody id="class_list">
          {pclass_block}
          <tr data-id="{class_id}" class="item">
            <td><i class="fa-solid fa-grip-lines my-handle"></i></td>
            <td>{class_id}</td>
            <td>{class_name}</td>
            <td class="clrank">{class_rank}</td>
            <td class="align-middle text-center">
              <button
                data-id="{class_id}"
                data-name="{class_name}"
                data-rank="{class_rank}"
                class="btn btn-primary btn-sm modify_class"
              >
                <i class="fa-solid fa-pencil-alt"></i> {lang_edit}
              </button>
              <a
                class="btn btn-danger btn-sm"
                href="index.php?action=delete_property_class&amp;id={class_id}"
                onclick="return confirmDelete('{lang_delete_prop_class}')"
                ><i class="fa-solid fa-trash"></i> {lang_delete}</a
              >
            </td>
          </tr>
          {/pclass_block}
        </tbody>
      </table>
    </div>
  </div>
</div>

<div id="edit-pclass-modal" class="d-none">
  <form
    class="modify_pclass_form"
    action="ajax.php?action=ajax_modify_property_class"
    method="POST"
  >
    <input type="hidden" name="token" value="{csrf_token}" />
    <div class="input-group input-group-static mb-2">
      <label for="edit_pclass_name">{lang_property_class_name_update}</label>
      <input
        type="text"
        name="class_name"
        id="edit_pclass_name"
        value=""
        class="form-control"
      />
    </div>
    <div class="input-group input-group-static mb-2">
      <label for="edit_pclass_rank">{lang_property_class_rank_update}</label>
      <input
        type="text"
        name="class_rank"
        id="edit_pclass_rank"
        value=""
        class="form-control"
      />
    </div>
    <input type="hidden" name="class_id" id="edit_pclass_id" value="" />

    <a class="btn btn-primary float-end" id="edit_pclass_save">{lang_submit}</a>
  </form>
</div>
<script>
  $(document).ready(function () {
    var element = document.getElementById("class_list");
    pclassSort = Sortable.create(element, {
      handle: ".my-handle",
      draggable: ".item",
      dataIdAttr: "data-id",
      onSort: function (e) {
        // var updateSection = element.getAttribute("id");
        var order = pclassSort.toArray();
        if (order.length > 0) {
          $.post(
            "ajax.php?action=ajax_save_class_rank",
            { "class_id[]": order, search_setup: "class_rank" },
            function (data) {
              if (data.error == true) {
                status_error(data.error_msg);
              } else {
                status_msg(data.status_msg);
                var $lis = $("#class_list").children("tr");
                $lis.each(function () {
                  var newVal = $(this).index() + 1;
                  $(this).find(".clrank").text(newVal);
                  $(this).find(".modify_class").attr("data-rank", newVal);
                });
              }
            },
            "json"
          );
        }
      },
    });

    $(".modify_class").click(function (event) {
      event.preventDefault();
      var class_id = $(this).attr("data-id");
      var class_rank = $(this).attr("data-rank");
      var class_name = $(this).attr("data-name");
      $("#edit_pclass_id").attr("value", class_id);
      $("#edit_pclass_name").attr("value", class_name);
      $("#edit_pclass_rank").attr("value", class_rank);
      var html = $("#edit-pclass-modal").html();
      raiseModal("Edit Class", html);
    });

    $("#customizeModal").on("click", "#edit_pclass_save", function (event) {
      event.preventDefault();
      $.post(
        "ajax.php?action=ajax_modify_property_class",
        $("#customizeModal .modify_pclass_form").serialize(),
        function (data) {
          if (data.error == "1") {
            status_error(data.error_msg);
          } else {
            status_msg("{lang_property_class_updated}");
            closeModal();
            location.reload();
          }
        },
        "json"
      );
    });
  });
</script>
