<form id="seo_uri_structure" method="POST" action="">
  <input type="hidden" name="token" value="{csrf_token}" />
  <h3 class="mt-4">{lang_site_config_heading_permanant_links}</h3>
  <hr />

  <h5 class="mt-4">{lang_listing_url}</h5>
  <hr />
  <div class="row align-items-end mb-2">
    <div class="col-12 col-md-4">
      <div class="input-group input-group-static mb-2">
        <label for="listing_slug">{lang_slug}</label>
        <input
          type="text"
          name="listing_slug"
          id="listing_slug"
          value="{listing_slug}"
          class="form-control"
        />
      </div>
      <div class="input-group input-group-static mb-2">
        <label for="listing_uri">{lang_uri}</label>
        <input
          type="text"
          name="listing_uri"
          id="listing_uri"
          value="{listing_uri}"
          class="form-control"
        />
      </div>
    </div>
    <div class="col text-sm">{lang_listing_url_desc}</div>
  </div>
  <h5 class="mt-4">{lang_listing_image_url}</h5>
  <hr />
  <div class="row align-items-end mb-2">
    <div class="col-12 col-md-4">
      <div class="input-group input-group-static mb-2">
        <label for="listing_image_slug">{lang_slug}</label>
        <input
          type="text"
          name="listing_image_slug"
          id="listing_image_slug"
          value="{listing_image_slug}"
          class="form-control"
        />
      </div>
      <div class="input-group input-group-static mb-2">
        <label for="listing_image_uri">{lang_uri}</label>
        <input
          type="text"
          name="listing_image_uri"
          id="listing_image_uri"
          value="{listing_image_uri}"
          class="form-control"
        />
      </div>
    </div>
    <div class="col text-sm">{lang_listing_image_url_desc}</div>
  </div>
  <h5 class="mt-4">{lang_wysiwyg_page_url}</h5>
  <hr />
  <div class="row align-items-end mb-2">
    <div class="col-12 col-md-4">
      <div class="input-group input-group-static mb-2">
        <label for="page_slug">{lang_slug}</label>
        <input
          type="text"
          name="page_slug"
          id="page_slug"
          value="{page_slug}"
          class="form-control"
        />
      </div>
      <div class="input-group input-group-static mb-2">
        <label for="page_uri">{lang_uri}</label>
        <input
          type="text"
          name="page_uri"
          id="page_uri"
          value="{page_uri}"
          class="form-control"
        />
      </div>
    </div>
    <div class="col text-sm">{lang_wysiwyg_page_url_desc}</div>
  </div>
  <h5 class="mt-4">{lang_agent_page_url}</h5>
  <hr />
  <div class="row align-items-end mb-2">
    <div class="col-12 col-md-4">
      <div class="input-group input-group-static mb-2">
        <label for="agent_slug">{lang_slug}</label>
        <input
          type="text"
          name="agent_slug"
          id="agent_slug"
          value="{agent_slug}"
          class="form-control"
        />
      </div>
      <div class="input-group input-group-static mb-2">
        <label for="agent_uri">{lang_uri}</label>
        <input
          type="text"
          name="agent_uri"
          id="agent_uri"
          value="{agent_uri}"
          class="form-control"
        />
      </div>
    </div>
    <div class="col text-sm">{lang_agent_page_url_desc}</div>
  </div>

  <h5 class="mt-4">{lang_contact_agent_page_url}</h5>
  <hr />
  <div class="row align-items-end mb-2">
    <div class="col-12 col-md-4">
      <div class="input-group input-group-static mb-2">
        <label for="contact_listing_agent_slug">{lang_slug}</label>
        <input
          type="text"
          name="contact_listing_agent_slug"
          id="contact_listing_agent_slug"
          value="{contact_listing_agent_slug}"
          class="form-control"
        />
      </div>
      <div class="input-group input-group-static mb-2">
        <label for="contact_listing_agent_uri">{lang_uri}</label>
        <input
          type="text"
          name="contact_listing_agent_uri"
          id="contact_listing_agent_uri"
          value="{contact_listing_agent_uri}"
          class="form-control"
        />
      </div>
    </div>
    <div class="col text-sm">{lang_contact_agent_page_url_desc}</div>
  </div>
  <h5 class="mt-4">{lang_blog_index_url}</h5>
  <hr />
  <div class="row align-items-end mb-2">
    <div class="col-12 col-md-4">
      <div class="input-group input-group-static mb-2">
        <label for="blogindex_uri">{lang_uri}</label>
        <input
          type="text"
          name="blogindex_uri"
          id="blogindex_uri"
          value="{blogindex_uri}"
          class="form-control"
        />
      </div>
    </div>
    <div class="col text-sm">{lang_blog_index_url_desc}</div>
  </div>
  <h5 class="mt-4">{lang_blog_article_url}</h5>
  <hr />
  <div class="row align-items-end mb-2">
    <div class="col-12 col-md-4">
      <div class="input-group input-group-static mb-2">
        <label for="blog_slug">{lang_slug}</label>
        <input
          type="text"
          name="blog_slug"
          id="blog_slug"
          value="{blog_slug}"
          class="form-control"
        />
      </div>
      <div class="input-group input-group-static mb-2">
        <label for="blog_uri">{lang_uri}</label>
        <input
          type="text"
          name="blog_uri"
          id="blog_uri"
          value="{blog_uri}"
          class="form-control"
        />
      </div>
    </div>
    <div class="col text-sm">{lang_blog_article_url_desc}</div>
  </div>
  <h5 class="mt-4">{lang_blog_tag_url}</h5>
  <hr />
  <div class="row align-items-end mb-2">
    <div class="col-12 col-md-4">
      <div class="input-group input-group-static mb-2">
        <label for="blog_tag_slug">{lang_slug}</label>
        <input
          type="text"
          name="blog_tag_slug"
          id="blog_tag_slug"
          value="{blog_tag_slug}"
          class="form-control"
        />
      </div>
      <div class="input-group input-group-static mb-2">
        <label for="blog_tag_uri">{lang_uri}</label>
        <input
          type="text"
          name="blog_tag_uri"
          id="blog_tag_uri"
          value="{blog_tag_uri}"
          class="form-control"
        />
      </div>
    </div>
    <div class="col text-sm">{lang_blog_tag_url_desc}</div>
  </div>
  <h5 class="mt-4">{lang_blog_category_url}</h5>
  <hr />
  <div class="row align-items-end mb-2">
    <div class="col-12 col-md-4">
      <div class="input-group input-group-static mb-2">
        <label for="blog_cat_slug">{lang_slug}</label>
        <input
          type="text"
          name="blog_cat_slug"
          id="blog_cat_slug"
          value="{blog_cat_slug}"
          class="form-control"
        />
      </div>
      <div class="input-group input-group-static mb-2">
        <label for="blog_cat_uri">{lang_uri}</label>
        <input
          type="text"
          name="blog_cat_uri"
          id="blog_cat_uri"
          value="{blog_cat_uri}"
          class="form-control"
        />
      </div>
    </div>
    <div class="col text-sm">{lang_blog_category_url_desc}</div>
  </div>
  <h5 class="mt-4">{lang_blog_archive_url}</h5>
  <hr />
  <div class="row align-items-end mb-2">
    <div class="col-12 col-md-4">
      <div class="input-group input-group-static mb-2">
        <label for="blog_archive_slug">{lang_slug}</label>
        <input
          type="text"
          name="blog_archive_slug"
          id="blog_archive_slug"
          value="{blog_archive_slug}"
          class="form-control"
        />
      </div>
      <div class="input-group input-group-static mb-2">
        <label for="blog_archive_uri">{lang_uri}</label>
        <input
          type="text"
          name="blog_archive_uri"
          id="blog_archive_uri"
          value="{blog_archive_uri}"
          class="form-control"
        />
      </div>
    </div>
    <div class="col text-sm">{lang_blog_archive_url_desc}</div>
  </div>
  <h5 class="mt-4">{lang_index_url}</h5>
  <hr />
  <div class="row align-items-end mb-2">
    <div class="col-12 col-md-4">
      <div class="input-group input-group-static mb-2">
        <label for="index_uri">{lang_uri}</label>
        <input
          type="text"
          name="index_uri"
          id="index_uri"
          value="{index_uri}"
          class="form-control"
        />
      </div>
    </div>
    <div class="col text-sm">{lang_index_url_desc}</div>
  </div>
  <h5 class="mt-4">{lang_view_agents_url}</h5>
  <hr />
  <div class="row align-items-end mb-2">
    <div class="col-12 col-md-4">
      <div class="input-group input-group-static mb-2">
        <label for="view_agents_uri">{lang_uri}</label>
        <input
          type="text"
          name="view_agents_uri"
          id="view_agents_uri"
          value="{view_agents_uri}"
          class="form-control"
        />
      </div>
    </div>
    <div class="col text-sm">{lang_view_agents_url_desc}</div>
  </div>
  <h5 class="mt-4">{lang_search_page_url}</h5>
  <hr />
  <div class="row align-items-end mb-2">
    <div class="col-12 col-md-4">
      <div class="input-group input-group-static mb-2">
        <label for="searchpage_uri">{lang_uri}</label>
        <input
          type="text"
          name="searchpage_uri"
          id="searchpage_uri"
          value="{searchpage_uri}"
          class="form-control"
        />
      </div>
    </div>
    <div class="col text-sm">{lang_search_page_url_desc}</div>
  </div>
  <h5 class="mt-4">{lang_search_rusults_url}</h5>
  <hr />
  <div class="row align-items-end mb-2">
    <div class="col-12 col-md-4">
      <div class="input-group input-group-static mb-2">
        <label for="searchresults_uri">{lang_uri}</label>
        <input
          type="text"
          name="searchresults_uri"
          id="searchresults_uri"
          value="{searchresults_uri}"
          class="form-control"
        />
      </div>
    </div>
    <div class="col text-sm">{lang_search_rusults_url_desc}</div>
  </div>
  <h5 class="mt-4">{lang_member_signup_url}</h5>
  <hr />
  <div class="row align-items-end mb-2">
    <div class="col-12 col-md-4">
      <div class="input-group input-group-static mb-2">
        <label for="member_signup_uri">{lang_uri}</label>
        <input
          type="text"
          name="member_signup_uri"
          id="member_signup_uri"
          value="{member_signup_uri}"
          class="form-control"
        />
      </div>
    </div>
    <div class="col text-sm">{lang_member_signup_url_desc}</div>
  </div>
  <h5 class="mt-4">{lang_agent_signup_url}</h5>
  <hr />
  <div class="row align-items-end mb-2">
    <div class="col-12 col-md-4">
      <div class="input-group input-group-static mb-2">
        <label for="agent_signup_uri">{lang_uri}</label>
        <input
          type="text"
          name="agent_signup_uri"
          id="agent_signup_uri"
          value="{agent_signup_uri}"
          class="form-control"
        />
      </div>
    </div>
    <div class="col text-sm">{lang_agent_signup_url_desc}</div>
  </div>
  <h5 class="mt-4">{lang_member_login_url}</h5>
  <hr />
  <div class="row align-items-end mb-2">
    <div class="col-12 col-md-4">
      <div class="input-group input-group-static mb-2">
        <label for="member_login_uri">{lang_uri}</label>
        <input
          type="text"
          name="member_login_uri"
          id="member_login_uri"
          value="{member_login_uri}"
          class="form-control"
        />
      </div>
    </div>
    <div class="col text-sm">{lang_member_login_url_desc}</div>
  </div>
  <h5 class="mt-4">{lang_edit_profile_url}</h5>
  <hr />
  <div class="row align-items-end mb-2">
    <div class="col-12 col-md-4">
      <div class="input-group input-group-static mb-2">
        <label for="edit_profile_uri">{lang_uri}</label>
        <input
          type="text"
          name="edit_profile_uri"
          id="edit_profile_uri"
          value="{edit_profile_uri}"
          class="form-control"
        />
      </div>
    </div>
    <div class="col text-sm">{lang_edit_profile_url_desc}</div>
  </div>
  <h5 class="mt-4">{lang_logout_url}</h5>
  <hr />
  <div class="row align-items-end mb-2">
    <div class="col-12 col-md-4">
      <div class="input-group input-group-static mb-2">
        <label for="logout_uri">{lang_uri}</label>
        <input
          type="text"
          name="logout_uri"
          id="logout_uri"
          value="{logout_uri}"
          class="form-control"
        />
      </div>
    </div>
    <div class="col text-sm">{lang_logout_url_desc}</div>
  </div>
  <h5 class="mt-4">{lang_view_favorites_uri}</h5>
  <hr />
  <div class="row align-items-end mb-2">
    <div class="col-12 col-md-4">
      <div class="input-group input-group-static mb-2">
        <label for="view_favorites_uri">{lang_uri}</label>
        <input
          type="text"
          name="view_favorites_uri"
          id="view_favorites_uri"
          value="{view_favorites_uri}"
          class="form-control"
        />
      </div>
    </div>
    <div class="col text-sm">{lang_view_favorites_uri_desc}</div>
  </div>
  <h5 class="mt-4">{lang_saved_search_url}</h5>
  <hr />
  <div class="row align-items-end mb-2">
    <div class="col-12 col-md-4">
      <div class="input-group input-group-static mb-2">
        <label for="saved_searches_uri">{lang_uri}</label>
        <input
          type="text"
          name="saved_searches_uri"
          id="saved_searches_uri"
          value="{saved_searches_uri}"
          class="form-control"
        />
      </div>
    </div>
    <div class="col text-sm">{lang_saved_search_url_desc}</div>
  </div>
  <h5 class="mt-4">{lang_calculator_url}</h5>
  <hr />
  <div class="row align-items-end mb-2">
    <div class="col-12 col-md-4">
      <div class="input-group input-group-static mb-2">
        <label for="calculator_uri">{lang_uri}</label>
        <input
          type="text"
          name="calculator_uri"
          id="calculator_uri"
          value="{calculator_uri}"
          class="form-control"
        />
      </div>
    </div>
    <div class="col text-sm">{lang_calculator_url_desc}</div>
  </div>

  <input
    type="submit"
    class="btn btn-primary float-end"
    value="{lang_save_changes}"
  />
</form>

<script type="text/javascript">
  $(document).ready(function () {
    $("#seo_uri_structure").submit(function (e) {
      e.preventDefault();
      $.post(
        "ajax.php?action=update_seouris",
        $("#seo_uri_structure").serialize(),
        function (data) {
          if (data.error == "1") {
            status_error(data.error_msg);
          } else {
            status_msg(data.status);
          }
        },
        "json"
      );
    });
  });
</script>
