<div class="card card-frame mb-4">
  <div class="card-body py-2">
    <div class="card card-frame mb-4">
      <div class="card-body py-2">
        <form method="post" action="" class="row align-items-end mb-2 g-3">
          <input
            type="hidden"
            id="user_template_token"
            name="token"
            value="{csrf_token}"
          />
          <div class="col input-group input-group-static">
            <label for="edit_field_list" class="ms-0">{lang_field}</label>

            <input type="hidden" name="action" value="edit_listing_template" />
            <select
              id="edit_field_list"
              class="form-control"
              aria-label="{lang_select_field_to_edit}"
            >
              <option value="" selected="selected">
                {lang_select_field_to_edit}
              </option>
              {user_template_editor_field_edit_block}
              <option value="{value}" {selected}>{text}</option>
              {/user_template_editor_field_edit_block}
            </select>
          </div>
          <button
            id="add_field_link"
            type="submit"
            class="col-auto btn btn-primary"
          >
            {lang_add_field}
          </button>
        </form>
      </div>
    </div>

    <div>
      <ul id="user_page_order">
        {user_field_block}
        <li
          id="{field_name}"
          data-id="{field_name}"
          class="w-100 badge rounded-pill bg-secondary mb-1 text-start"
        >
          <a
            href="#"
            class="edit_field_link"
            id="rank_{field_rank}"
            data-or-field-name="{field_name}"
            >{field_caption} {required_block}<i
              class="fa-solid fa-asterisk float-end"
            ></i
            >{/required_block}</a
          >
        </li>
        {/user_field_block}
      </ul>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function () {
    var element = document.getElementById("user_page_order");

    Sortable = Sortable.create(element, {
      onSort: function (e) {
        var order = Sortable.toArray();
        if (order.length > 0) {
          $.post(
            "ajax.php?action=ajax_save_user_rank",
            {
              user_type: "{user_type}",
              "field_name[]": order,
              token: $("#user_template_token").val(),
            },
            function (data) {
              if (data.error == true) {
                status_error(data.error_msg);
              } else {
                status_msg(data.status_msg);
              }
            },
            "json"
          );
        }
      },
    });
    $(".edit_field_link").click(function (e) {
      e.preventDefault();
      var field_name = $(this).attr("data-or-field-name");
      $.ajax({
        url:
          "ajax.php?action=ajax_get_user_field_info&user_type={user_type}&edit_field=" +
          field_name,
        dataType: "html",
        success: function (data) {
          raiseModal("{lang_leadmanager_edit_text}", data);
        },
      });
    });
    $("#edit_field_list").change(function (e) {
      e.preventDefault();
      var field_name = $(this).val();
      if (field_name != "") {
        $.ajax({
          url:
            "ajax.php?action=ajax_get_user_field_info&user_type={user_type}&edit_field=" +
            field_name,
          dataType: "html",
          success: function (data) {
            raiseModal("{lang_leadmanager_edit_text}", data);
          },
        });
      }
    });
    $("#add_field_link").click(function (e) {
      e.preventDefault();
      $.ajax({
        url: "ajax.php?action=ajax_add_user_field&user_type={user_type}",
        dataType: "html",
        success: function (data) {
          raiseModal("{lang_add_field}", data);
        },
      });
    });
  });
</script>
