<div class="card card-frame mb-4">
  <div class="table-responsive m-4">
    <div class="d-flex justify-content-end">
      <a
        href="ajax.php?action=ajax_export_logs"
        target="_blank"
        class="btn btn-primary"
        id="export_logs"
        ><i class="fa-solid fa-download"></i> {lang_download_file}</a
      >
      <a
        class="btn btn-danger"
        href="index.php?action=clear_log"
        onclick="return confirmDelete()"
        ><i class="fa-solid fa-trash"></i>{lang_clear_log}</a
      >
    </div>
    <table id="log_viewer" class="table table-striped">
      <thead>
        <tr>
          <th
            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
          >
            {lang_id_caption}
          </th>
          <th
            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
          >
            {lang_date}
          </th>
          <th
            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
          >
            {lang_user_ip}
          </th>
          <th
            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
          >
            {lang_user_manager_user_name}
          </th>
          <th
            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
          >
            {lang_action}
          </th>
        </tr>
      </thead>
    </table>
  </div>
</div>

<link
  rel="stylesheet"
  href="{baseurl}/node_modules/datatables.net-bs5/css/dataTables.bootstrap5.min.css"
/>
<script
  type="text/javascript"
  src="{baseurl}/node_modules/datatables.net/js/jquery.dataTables.min.js"
></script>
<script
  type="text/javascript"
  src="{baseurl}/node_modules/datatables.net-bs5/js/dataTables.bootstrap5.min.js"
></script>

<script>
  var asInitVals = new Array();
  var Table = $("#log_viewer").DataTable({
    processing: true,
    serverSide: true,
    autoWidth: false,
    ajax: "ajax.php?action=ajax_viewlog_datatable",
    pagingType: "full_numbers",
    pageLength: 25,
    lengthMenu: [25, 50, 100, 200],
    order: [[0, "desc"]],
    columns: [
      { width: "70px" },
      { width: "170px" },
      { width: "120px" },
      { width: "170px" },
      null,
    ],
  });
</script>
