body {
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
}

header {
    background-color: #fff;
}

.header__nav {
    padding: 0.5rem;
}

.header__logo {
    width: 10%;
}

.header__navbar {
    width: 65%;
}

.header__menu-btn {
    display: none;
}

.header__logo__img {
    max-width: 100%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__wordart {
    width: 25%;
}

.header__wordart>img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.header__navbar>ul {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    align-items: center;
    list-style: none;
}

.header__navbar>ul>li {
    font-weight: 400;
    font-size: 1rem;
    color: #000 !important;
    transition: all 0.3s ease-in-out;
}

.header__navbar>ul>li:after {
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width 0.5s ease, background-color 0.5s ease;
}

.header__navbar>ul>li:hover:after {
    width: 100%;
    background: #000;
}


/* General Layout */

a {
    text-decoration: none;
}

.main_total {
    height: 100%;
    background: #c8c8c8 url({template_url}/images/border_left.png) 0 0 repeat-y;
}

.total_area {
    padding-bottom: 7px;
    background: url({template_url}/images/border_right.png) 100% 0 repeat-y;
}


/* HEADER & DATE & SLOGAN (FOR THE LOGO SETTINGS see logo.css)
 ============================================================================ */

.header {
    background: #88909b url({template_url}/images/borders_header.png) 0 -220px repeat-x;
}

.header_left {
    background: url({template_url}/images/borders_header.png) 0 0 no-repeat;
}

.header_left_content {
    float: left;
    height: 0px;
}

.header_right {
    height: 110px;
    background: url({template_url}/images/borders_header.png) 100% -110px no-repeat;
}

.header_right_content {
    float: right;
    height: 42px;
    margin-top: 15px;
    padding-right: 15px;
    text-align: right;
}

.header_right_content a {
    margin-right: 1px;
}

.header_right_content img {
    width: 16px;
    height: 11px;
    border: 0 none;
}

.date {
    float: right;
    margin: 0;
    padding: 0;
    font-size: 10pt;
    text-align: right;
    color: #d3cdc6;
}

.slogan {
    float: right;
    margin-right: 20px;
    padding-top: 19px;
    font-size: 10pt;
    font-weight: 600;
    text-align: right;
    color: #ffffff;
}


/* TOPBAR & HORIZONTAL MENU
 ============================================================================ */

.topbar {
    margin: 0 10px 0 10px;
}

.topbar_left {
    border-left: 1px solid #000000;
}

.topbar_right {
    height: 35px;
    border-top: 1px solid #dddddd;
    border-right: 1px solid #000000;
}

.main_horiz_menu {
    float: left;
    width: 100%;
    height: 26px;
    margin: 0;
    padding: 0;
    border-top: 1px solid #a9a9a9;
    white-space: nowrap;
    background-color: #9fb6d5;
}

.main_horiz_menu ul {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 600;
}

.main_horiz_menu li {
    float: left;
    margin: 0;
    padding: 0;
}

.main_horiz_menu li a {
    line-height: 25px;
    border-right: solid 1px #a3a3a3;
}

.main_horiz_menu a:link,
.main_horiz_menu a:visited {
    float: left;
    padding: 0 20px 0 20px;
    border-bottom: 1px solid #9fb6d5;
    font-size: 10pt;
    font-weight: 600;
    text-decoration: none;
    color: #ffffff;
}

.main_horiz_menu a:hover {
    padding-top: 2px;
    line-height: 24px;
    border-bottom: 1px solid #ffffff;
    text-decoration: none;
    color: #000000;
    background-color: #b9c5d3;
}


/* MAIN CONTENT & BOXES
 ============================================================================ */

.main_content {
    margin: 0 18px 0px 18px;
    text-align: left;
    background: #ffffff;
}

.main_content_top {
    background: url({template_url}/images/borders_content.png) 0 0 repeat-x;
}

.main_content_top_left {
    background: url({template_url}/images/borders_content.png) 0 -8px no-repeat;
}

.main_content_top_right {
    height: 8px;
    overflow: hidden;
    background: url({template_url}/images/borders_content.png) 100% -24px no-repeat;
}

.main_content_bottom {
    background: url({template_url}/images/borders_content.png) 0 7px repeat-x;
}

.main_content_bottom_left {
    background: url({template_url}/images/borders_content.png) 0 -16px no-repeat;
}

.main_content_bottom_right {
    height: 8px;
    overflow: hidden;
    background: url({template_url}/images/borders_content.png) 100% -32px no-repeat;
}

.website_content {
    height: 100%;
    padding: 0 8px 0 8px;
    border-left: 1px solid #9fb6d5;
    border-right: 1px solid #9fb6d5;
}

.content_area {
    margin: 0;
    padding: 0;
}

.content_left {
    float: left;
    width: 190px;
    padding: 0;
    margin: 0;
}

.content_right {
    float: none;
    margin-left: 190px;
    padding-left: 10px;
}

.box {
    margin: 0 0 8px 0;
    padding: 0;
    background-color: #ededed;
}

.box_top {
    background: url({template_url}/images/borders_box.png) 0 0 repeat-x;
}

.box_top_left {
    background: url({template_url}/images/borders_box.png) 0 -8px no-repeat;
}

.box_top_right {
    height: 8px;
    overflow: hidden;
    background: url({template_url}/images/borders_box.png) 100% -24px no-repeat;
}

.box_bottom {
    background: #efefef url({template_url}/images/borders_box.png) 0 7px repeat-x;
}

.box_bottom_left {
    background: url({template_url}/images/borders_box.png) 0 -16px no-repeat;
}

.box_bottom_right {
    height: 8px;
    overflow: hidden;
    background: url({template_url}/images/borders_box.png) 100% -32px no-repeat;
}

.box_content {
    margin: 0;
    padding: 0 8px 0 8px;
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
}

.box_content h6 {
    margin: -2px -7px 0 -7px;
    padding: 0 0 5px 8px;
    border-bottom: 3px double #cdcdcd;
    font-size: 10pt;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
    color: #999999;
    background-color: transparent;
}

.box_content h6 a:link,
.box_content h6 a:visited {
    font-size: 10pt;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    text-align: left;
    color: #999999;
    background-color: transparent;
}

.box_content h6 a:hover {
    text-decoration: none;
    color: #000000;
}

.box.menu_vertical ul,
.box.syndication ul,
.box.recentposts ul {
    list-style: none;
    margin: 0;
    padding: 10px 0 0 0;
    background-color: #ededed;
}

.box.menu_vertical ul li,
.box.syndication ul li {
    height: 20px;
}

.box.menu_vertical ul li a:link,
.box.menu_vertical ul li a:visited {
    vertical-align: bottom;
    padding: 0 0 0 18px;
    font-size: 9pt;
    font-weight: 500;
    text-decoration: none;
    color: #333333;
    background: url({template_url}/images/button_play.png) no-repeat;
    background-position: left 1px;
}

.box.menu_vertical ul li a:hover {
    padding-left: 18px;
    color: #333333;
    background: url({template_url}/images/button_play.png) no-repeat;
    background-position: left -14px;
}

.box.recentposts ul li a:link,
.box.recentposts ul li a:visited {
    padding: 0 0 0 18px;
    font-size: 9pt;
    font-weight: 500;
    text-decoration: none;
    color: #333333;
    background: url({template_url}/images/button_play.png) no-repeat;
    background-position: left 1px;
}

.box.recentposts ul li a:hover {
    color: #333333;
    background: url({template_url}/images/button_play.png) no-repeat;
    background-position: left -14px;
}

.box.syndication ul li a:link,
.box.syndication ul li a:visited {
    padding: 2px 0 0 20px;
    font-size: 9pt;
    font-weight: 500;
    text-decoration: none;
    color: #333333;
    background: #ededed url({template_url}/images/icon_feeds.png) 0 0 no-repeat;
}

.box.syndication ul li a:hover {
    text-decoration: underline;
}

.box_content.about_this_template {
    text-align: center;
}

.box_content.about_this_template img {
    margin: 10px 2px 0 2px;
    border: 0 none;
}


/* FOOTER
 ============================================================================ */

.footer {
    background: url({template_url}/images/borders_footer.png) 0 -104px repeat-x;
}

.footer_left {
    background: url({template_url}/images/borders_footer.png) 0 0 no-repeat;
}

.footer_right {
    height: 52px;
    background: url({template_url}/images/borders_footer.png) 100% -52px no-repeat;
}

.footer_right div {
    text-align: center;
    padding-top: 5px;
    font-size: 9px;
    color: #ffffff;
}

.footer_right a:link,
#footer_right a:visited {
    text-decoration: underline;
    color: #ffffff;
}

.footer_right a:hover {
    text-decoration: none;
    color: #000000;
}


/* Listing Detail */

.float_left_half {
    float: left;
    width: 50%;
}

.features_ticked {
    width: 150px;
}

.multiple_options_caption {
    margin: 0 0 10px 0;
}

.multiple_options ul {
    width: 150px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.multiple_options li {
    display: inline;
    line-height: 18px;
    padding-left: 18px;
    background: url({template_url}/images/box_ticked.png) 0 -2px repeat-y;
}


/* MINI TABS used on tabbed listing detail page*/

#mini-tabs {
    position: relative;
    padding: 0.2em;
    zoom: 1;
}

#mini-tabs .ui-tabs-nav {
    margin: 0;
    padding: 0.2em 0.2em 0.1em;
    padding: 0;
    height: 22px;
    border-bottom: 1px solid #666;
}

#mini-tabs .ui-tabs-nav li {
    list-style: none;
    float: left;
    position: relative;
    top: 1px;
    margin: 0 0.2em 1px 0;
    border-bottom: 0 !important;
    padding: 0;
    white-space: nowrap;
}

#mini-tabs .ui-tabs-nav li a {
    float: left;
    font-size: 1em;
    font-weight: 400;
    display: block;
    padding: 3px 8px 5px;
    text-decoration: none;
    border: 1px solid #666;
    border-bottom: 0px;
    height: 12px;
    background: #fcfff4;
    /* Old browsers */
    margin-right: 3px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: relative;
    top: 0px;
    color: #2b60de;
}

#mini-tabs .ui-tabs-nav li a:hover {
    background-image: none;
    background-color: #f7f7f7;
    color: #333;
}

#mini-tabs .ui-tabs-nav li.ui-tabs-selected {}

#mini-tabs .ui-tabs-nav li.ui-tabs-selected a,
#mini-tabs .ui-tabs-nav li.ui-state-disabled a,
#mini-tabs .ui-tabs-nav li.ui-state-processing a {
    cursor: text;
    background-image: none;
    background-color: #ededed;
    border-bottom: 1px solid #ededed;
    color: #000;
}

#mini-tabs .ui-tabs-nav li a,
#mini-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
    cursor: pointer;
}

#mini-tabs .ui-tabs-panel {
    display: block;
    padding: 1em 1.4em;
    border: 1px solid #666;
    border-width: 0px 1px 1px 1px;
    background: #eeeeee;
    /* Old browsers */
}

#mini-tabs .ui-tabs-hide {
    display: none !important;
}

#templated_search_form_data {
    margin-left: 150px;
}