<!DOCTYPE html>
<html lang="en">
<title>{site_title}</title>
{load_meta_description_short} {load_meta_keywords}
<meta http-equiv="content-type" content="text/html;charset={charset}" />
<meta name="robots" content="{meta_index},{meta_follow}" /> {meta_canonical_block}
<link rel="canonical" href="{canonical_link}" />{/meta_canonical_block}
<link rel="apple-touch-icon" sizes="180x180" href="{template_url}/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{template_url}/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{template_url}/images/favicon-16x16.png">
<link rel="alternate" type="application/rss+xml" title="{company_name} - {lang_rss_lastmodified_link_title}" href="{rss_lastmodified}" />
<link rel="alternate" type="application/rss+xml" title="{company_name} - {lang_rss_featured_link_title}" href="{rss_featured}" />
<link rel="alternate" type="application/rss+xml" title="{company_name} - {lang_rss_blog_post_link_title}" href="{rss_blog_posts}" />
<link rel="alternate" type="application/rss+xml" title="{company_name} - {lang_rss_blog_comments_link_title}" href="{rss_blog_comments}" /> {load_css_style_default}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" /> {load_css_style_default} {load_css_style_main}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:400,500,600&display=swap" rel="stylesheet">
<link href="{baseurl}/node_modules/lightslider/dist/css/lightslider.min.css" rel="stylesheet" type="text/css"> {load_css_style} {load_css_quicksearch}
<script type="text/javascript" src="{baseurl}/node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="{baseurl}/node_modules/lightslider/dist/js/lightslider.min.js"></script>
<script type="text/javascript" src="{baseurl}/node_modules/jquery-migrate/dist/jquery-migrate.min.js"></script>
<script type="text/javascript" src="{baseurl}/node_modules/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript">
    $.fn.uitabs = $.fn.tabs;
</script>
<script type="text/javascript" src="{baseurl}/include/class/jquery/jquery_plugins/jquery.betterserialize.js"></script>
<script type="text/javascript" src="{baseurl}/node_modules/jquery-colorbox/jquery.colorbox-min.js"></script>
<script type="text/javascript" src="{base_url}/node_modules/superfish/dist/js/superfish.min.js"></script>
<script type="text/javascript" src="{base_url}/node_modules/@audithsoftworks/jquery.uniform/dist/js/jquery.uniform.standalone.js"></script>
<script type="text/javascript" src="{base_url}/node_modules/jquery-equalheights/jquery.equalheights.min.js"></script>
<script type="text/javascript">
    jQuery.validator.messages.required = "{lang_field_is_required}";
    jQuery.validator.defaults.errorClass = "redtext";
    /* Eable the Validator Plugins Debug Feature
     jQuery.validator.defaults.debug = true;
    */
    jQuery.validator.defaults.meta = "validate";
    jQuery.validator.addMethod(
        "ordate",
        function(value, element, datefmt) {
            if (value == "") {
                return true;
            }
            if (datefmt == 1) {
                return value.match(/^(01|02|03|04|05|06|07|08|09|10|11|12)\/(01|02|03|04|05|06|07|08|09|10|11|12|13|14|15|16|17|18|19|20|21|22|23|24|25|26|27|28|29|30|31)\/\d\d\d\d$/);
            }
            if (datefmt == 2) {
                return value.match(/^\d\d\d\d\/(01|02|03|04|05|06|07|08|09|10|11|12|13|14|15|16|17|18|19|20|21|22|23|24|25|26|27|28|29|30|31)\/(01|02|03|04|05|06|07|08|09|10|11|12)$/);
            }
            if (datefmt == 3) {
                return value.match(/^(01|02|03|04|05|06|07|08|09|10|11|12|13|14|15|16|17|18|19|20|21|22|23|24|25|26|27|28|29|30|31)\/(01|02|03|04|05|06|07|08|09|10|11|12)\/\d\d\d\d$/);
            }

        }, "{lang_enter_date_in_format} "
    );
</script>


{load_ORjs}

<script type="text/javascript">
    {
        check_member
    }

    function HidePleaseWait() {
        $.colorbox.close();
    }

    function ShowPleaseWait() {
        $.colorbox({
            onLoad: function() {
                $("#colorbox").attr("class", "PleaseWaitColorBox");
            },
            title: "",
            width: "190px",
            height: "145px",
            html: '<div><img src="{template_url}/images/progress_indicator.gif" /> Please Wait...</div>',
            inline: false,
            transition: "none",
            close: "",
            overlayClose: false,
            opacity: 0.30,
            onClosed: function() {
                $("#colorbox").attr("class", "");
            }
        });
    }

    function show_add_listing() {
        $.colorbox({
            overlayClose: false,
            open: true,
            inline: false,
            close: " ",
            title: "Add a Listing",
            width: "50%",
            transition: "none",
            opacity: 0.40,
            scrolling: false,
            href: "{baseurl}/admin/ajax.php?action=ajax_display_add_listing"
        });
    } {
        /check_member}

        $(document).ready(function() {

                    /* vertical  menu */
                    $("ul#or_menu_1").superfish({
                        animation: {
                            height: 'show'
                        },
                        delay: 600
                    });

                    /* horizontal menu */
                    $('ul#or_menu_2').superfish({
                        /* options go here */
                    });


                    /* show persistent top menu to logged in users */
                    {
                        check_member
                    }
                    $('ul#or-admin-bar').superfish({
                        autoArrows: false,
                        speed: 'fast'
                    });

                    $("#menu_add_listing_link").click(function() {
                        show_add_listing();
                        return false;
                    }); {
                        /check_member}

                        /* persistent collapsing quick search */
                        $(".menu_collapse").click(function() {

                            var linktype = $(".menu_collapse").attr("id");

                            if (linktype == "show") {
                                $(".menu_collapse").attr("id", "hide");
                                $(".menu_collapse").attr("src", "{template_url}/images/icon_right_arrows_16.png");
                                $(".menu_collapse").attr("alt", "Collapse Menu");
                                $(".menu_collapse").attr("title", "Collapse Menu");
                                $(".quicksearch").show();
                                $(".quicksearch_wrapper_collapse").attr("class", "quicksearch_wrapper");
                            }
                            if (linktype == "hide") {
                                $(".menu_collapse").attr("id", "show");
                                $(".menu_collapse").attr("src", "{template_url}/images/quicksearch.png");
                                $(".menu_collapse").attr("alt", "Expand Menu");
                                $(".menu_collapse").attr("title", "Expand Menu");
                                $(".quicksearch_wrapper").attr("class", "quicksearch_wrapper_collapse");
                                $(".quicksearch").hide();
                            }
                            return false;
                        });

                        /* removes template disclaimer on hover */
                        $("#disclaimerbar").hover(
                            function() {
                                $("#disclaimerbar").hide();
                            }
                        );

                    });
</script>



</head>

<body>
    <header>
        <nav class="header__nav flex">
            <div class="header__logo">
                <a href="{url_index}"><img class="header__logo__img" src="https://cdn.jsdelivr.net/gh/Boolean-Autocrat/MLS-Sample-Images@main/Harpreet-Rakhra-01.webp" alt="logo" /></a>
            </div>
            <div class="header__wordart">
                <img src="https://cdn.jsdelivr.net/gh/Boolean-Autocrat/MLS-Sample-Images@main/text-art-2.png" alt="wordart" />
            </div>
            <div class="header__navbar">
                <ul>
                    <li><a href="{url_index}">HOME <i class="fa-solid fa-house"></i></a></li>
                    <li><a href="{page_link_2}">FOR SALE <i class="fa-solid fa-tag"></i></a></li>
                    <li><a href="{page_link_3}">OUR SERVICES</a></li>
                    <li><a href="{page_link_4}">OUR TEAM</a></li>
                    <li><a href="{page_link_5}">TESTIMONIALS</a></li>
                    <li><a href="{page_link_6}">CONTACT US</a></li>
                </ul>
            </div>
            <div class="header__menu-btn">
                <i class="fa-solid fa-bars"></i>
            </div>
        </nav>
    </header>
    <!-- <h1>{company_name}</h1>
            <h2>{company_location}</h2>

            <nav id="top_nav">
                {render_menu_2}
            </nav>
            <div class="clear"></div> -->

    <div class="space_5"></div>
    <!--  Left navigation -->

    <nav id="menu_nav">
        <div id="menu_nav_inner">
            {render_menu_1}
        </div>
        <div class="clear"></div>
    </nav>
    <article>
        <div id="article_inner">
            {content}
        </div>
    </article>
    <footer>
        <p>&copy; {company_name} 2023 | <a href="{page_link_4}">Legal Notice and Disclaimer</a> <br />
            <span class="reg_mark_h2">&#174;</span>- &copy;2021 - All Rights Reserved.</p>
    </footer>

    {load_js_last}
</body>

</html>