{subject_block}{lang_email_user_subject}{/subject_block}

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>New Member</title>
	</head>

	<body style="font-family: Arial, Helvetica, sans-serif;">

	<!--  Begin email -->
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
   			<td bgcolor="#d8e7ea" style="background-color: #d8e7ea; padding: 10px;">

            	<table width="620" align="center" style="padding: 5px; ">
            		<tr>
            			<td valign="top" >
            				<h3 style="text-shadow: 1px 1px 1px #ffffff;">{company_name}</h3>
            			</td>
            		</tr>
            	</table>

  	         	<!--intro-->
				<table width="620" border="0" align="center" cellpadding="0" cellspacing="0">
					<tr>
		           		<td valign="middle" style="font-size: 14px; margin: 10px;">
		                	<p>{lang_user_email_message}</p>

							{moderated_block}
								<!-- show if Member Moderation is active  -->
								<p>{lang_admin_new_user_moderated}</p>
							{/moderated_block}

							{require_email_verification_block}
								<!-- show if Email verification is active  -->
								<p>
									{lang_admin_new_user_email_verification_message}
									<br />
									<a href="{verification_email_link}">{verification_email_link}</a>
								</p>
							{/require_email_verification_block}

							<p style="line-height: 18px;">
								{lang_user_email_login_information}
								<br>
								<span style="font-weight:bold;">{lang_user_email_login_link}</span> <a href="{member_login_link}">{member_login_link}</a>
								<br />
								<span style="font-weight:bold;">{lang_user_email_username}</span> {member_name}
								<br>
								{password_block}
								<span style="font-weight:bold;">{lang_user_email_password}</span> {member_password}
								<br>
								{/password_block}
								{!password_block}
									<span style="font-weight:bold;">{lang_user_email_password}</span> {lang_password_you_used_to_signup}
								{/!password_block}
							</p>

							<p style="font-style: italic;">
								{lang_user_email_privacy_info}
							</p>
       		       		</td>
					</tr>
				</table>
        		<!--/intro-->

   				<!--footer-->
  				<table width="100%" border="0" cellspacing="0" cellpadding="0">
        			<tr>
              			<td height="25" width="100%">
	           				<p style="font-size: 10px; color: #666; margin: 0; padding: 10px;  text-align: center;">
            					&copy; 2019 {company_name}
       	    					<br />
           						<a href="{baseurl}">{baseurl}</a>
           					</p>
	           			</td>
           			</tr>
       			</table>
    			<!--/footer-->

			</td>
		</tr>
	</table>

	</body>
</html>