<div class="blog_article">
	<div class="blog_article_title">
		{blog_title}<br /> 
		<div class="blog_article_date">Posted: {blog_date_posted}</div>
		<div class="blog_article_share">{addthis_button}</div>
		<a href="#add_comment" class="blog_article_comment_link"><img src="{template_url}/images/comments-add.png" title="Add Comment" alt="Add Comment" />Add Comment</a>
	</div>	
	<div class="blog_author_info">
		{blog_author_image_thumb_1}	<br />
		<span class="blog_article_postby">{lang_blog_post_by}:</span><br />
		<a href="{blog_author_link}" class="blog_article_author">{blog_author_first_name} {blog_author_last_name}</a>
	</div>
	<div class="clear"></div>
	<div class="blog_full_article">{blog_full_article}</div>
	<div class="blog_byline"> {admin_edit_link_block}<a href="{admin_edit_link}">{lang_edit_html_from_site}</a>{/admin_edit_link_block}</div>
</div>
<div class="blog_article_category_links">
	{lang_blog_categories}: 
	{category_block}
	<a href="{category_url}">{category_name}</a>{category_delimiter_block},{/category_delimiter_block} 
	{/category_block}
</div>
<div class="blog_article_comments">

	<div class="blog_article_comments_header">
		{lang_blog_comments} 
		<span class="blog_comment_count">({blog_comment_count})</span>
	</div>
	
	{blog_article_comment_item_block}
	<div class="blog_article_comment_item">
		<div>
			<a id="comment{blog_comment_id}"><span class="blog_comment_author">{blog_comment_author}</span> says:</a>
			<div class="space_5"></div>
			<div class="blog_article_comment_text">
				{blog_comment_text}
				<div class="space_10"></div>
				<span class="blog_comment_timestamp"> {blog_comment_date_posted}</span>
			</div>	
		</div>
	</div>	
	{/blog_article_comment_item_block}

	{comment_moderated_block}<span class="comment_moderated_message">{lang_comment_has_been_moderated}</span>{/comment_moderated_block}
	<a id="add_comment"></a>
	<div class="add_comment_block">
		{check_guest}
			<div><a href="{url_member_login}" class="add_comment_login">{lang_blog_must_login}</a></div>
		{/check_guest}
	
		{check_member}
		<form action="{blog_comments_post_url}" method="post">
			<div class="blog_leave_comment_text">{lang_blog_add_comment}:</div> 
			<textarea name="comment_text" class="blog_leave_comment_text_textarea"></textarea>
			<div class="space_5"></div>
			<input type="submit" value="{lang_blog_comment_submit}" class="or_std_button">
			<div class="space_5"></div>
		</form>
		{/check_member}
	</div>
	
</div>

<div id="blog_tag_cloud">
	<span class="blog_article_keywords">Keywords: </span>
	{blog_tag_cloud_block}
	<a href="{tag_link}" id="{tag_name}" style="font-size:{tag_fontsize}pt;">{tag_name}</a>&nbsp;&nbsp;
	{/blog_tag_cloud_block}
</div>