{tag_block}
<div class="blog_tag_header">{lang_blog_tag}: {tag_name}</div>
<div class="blog_tag_description">{tag_description}</div>
<br />
{/tag_block}

{cat_block}
<div class="blog_cat_header">{lang_blog_cat}: {cat_name}</div>
<div class="blog_cat_description">{cat_description}</div>
<br />
{/cat_block}
{blog_entry_block}
<div class="blog_entry">
	
	<div class="blog_title">{blog_title}</div>
	<div class="blog_info">
		<div class="blog_date">{blog_date_posted}</div>
	
		<div class="blog_byline">{lang_blog_post_by}: <a href="{blog_author_link}">{blog_author_first_name} {blog_author_last_name}</a></div>
	</div>
	<div class="clear"></div>
	
	<div class="blog_summary">{blog_summary}</div>

	<div class="blog_story_link_line"><a href="{blog_link_article}" class="blog_story_link" title="{blog_title}">{lang_blog_read_story} &gt;&gt;</a></div>
	<div class="blog_entry_footer">
		<div class="blog_entry_footer_item">({blog_comment_count}) {lang_blog_comments}</div>
		<div class="clear"></div>
	</div>
</div>
{/blog_entry_block}
{next_prev_bottom}