
<div class="application_rounded_box">
  {invalid_csrf_token_block}
  <div style="text-align: center" class="redtext">
    {lang_invalid_csrf_token}
  </div>
  {/invalid_csrf_token_block}
  <div class="application_rounded_box_title">Contact Form</div>

  <form
    name="add_feedback"
    id="add_feedback"
    action="index.php?action=contact_agent{extra_url}"
    method="post"
  >
    <input type="hidden" value="{csrf_token}" name="token" id="token" />
    <!-- don't change or delete these hidden fields -->
    <input type="hidden" name="formaction" value="create_new_lead" />
    {listing_contact_block}<input
      type="hidden"
      name="listingID"
      value="{listing_id}"
    />{/listing_contact_block} {agent_contact_block}<input
      type="hidden"
      name="agent_id"
      value="{agent_id}"
    />{/agent_contact_block}

    <div style="text-align: center; padding: 5px">
      Items marked * are required
    </div>

    <div style="float: left; padding: 5px">
      <!-- insert Agent selection -->
      <span style="font-size: 10pt; font-weight: bold">Agent: </span
      >{listing_agent_last_name}, {listing_agent_first_name}
    </div>
    <div id="" style="float: right; text-align: left; padding: 5px">
      {listing_contact_block}
      <span style="font-size: 10pt; font-weight: bold"> In Regard to: </span
      >{listing_title}{/listing_contact_block}
    </div>
    <div class="clear"></div>
    <div>
      <p class="lead_text">
        In order to serve you better, please take a moment to provide us with
        some basic information below. We look forward to answering any questions
        or concerns you may have regarding the entire property buying and
        selling process here. This area is our backyard and we're happy to help!
      </p>
    </div>
    <div>
      <!-- insert form elements -->
      {feedback_formelements}
    </div>

    <br />
    {captcha_display} {user_captcha_failed_block}
    <div style="text-align: center" class="redtext">
      Captcha Error - Please reenter the captcha information.
    </div>
    {/user_captcha_failed_block}

    <div
      style="margin-left: auto; margin-right: auto; width: 100px; padding: 10px"
    >
      <input class="or_std_button" type="submit" value="SEND" />
    </div>
  </form>
</div>
