<div class="next_prev_listing">
	<div class="count">
		{lang_there_are_currently} {count} {lang_that_match_search}<br />
		{lang_navigate}
	</div>
	<ul>
		{first_listing_block}
		 	<li><img src="{template_url}/images/nextprev/first_n.png" alt="{lang_first}" title="{lang_first}" /></li><li><img src="{template_url}/images/nextprev/previous_n.png" alt="{lang_previous}" title="{lang_previous}" /></li>
		{/first_listing_block}
		{!first_listing_block}
			<li><a href="{first_url}" ><img src="{template_url}/images/nextprev/first.png" alt="{lang_first}" title="{lang_first}" /></a></li><li><a href="{previous_url}" ><img src="{template_url}/images/nextprev/previous.png" alt="{lang_previous}" title="{lang_previous}" /></a></li>
		{/!first_listing_block}
		<li><a href="index.php?action=searchresults{refine_search_args}" ><img src="{template_url}/images/nextprev/search.png" alt="{lang_return_to_search}" title="{lang_return_to_search}" /></a></li><li><a href="index.php?action=save_search{save_search_args}" ><img src="{template_url}/images/nextprev/save.png" alt="{lang_save_this_search}" title="{lang_save_this_search}" /></a></li>
		{last_listing_block}
			<li><img src="{template_url}/images/nextprev/next_n.png" alt="{lang_next}" title="{lang_next}" /></li><li><img src="{template_url}/images/nextprev/last_n.png" alt="{lang_last}" title="{lang_last}" /></li>
		{/last_listing_block}
		{!last_listing_block}
			<li><a href="{next_url}" ><img src="{template_url}/images/nextprev/next.png" alt="{lang_next}" title="{lang_next}" /></a></li><li><a href="{last_url}" ><img src="{template_url}/images/nextprev/last.png" alt="{lang_last}" title="{lang_last}" /></a></li>
		{/!last_listing_block}			
	</ul>
	<div class="listing_xy">{lang_next_prev_listing} {cur_num} {lang_next_prev_of} {count}</div>
</div>	