.space_5 {
	height: 5px;
}
.space_10 {
	height: 10px;
}
.space_15 {
	height: 15px;
}
.space_20 {
	height: 20px;
}

.weight_600 {
	font-weight: 600;
}

/* Login and other Stadanrd Button CSS */

.admin_challenge_phrase{

}

.visitor_alert_phrase{
border: 1px solid #ccc;
font-size: 12pt;
font-weight: 600;
padding: 5px;
}
.click_to_register {
	text-decoration: none !important;

}

.login_area_div{
border-top:1px;
border-right:2px;
border-bottom:2px;
border-left:1px;
-moz-border-radius:6px;
-khtml-border-radius:6px;
-webkit-border-radius:6px;
border-radius:6px;
background:#F2F2F2;
border-color:#AAA;
border-style:solid;
padding:6px;
}

.login_form_div {
float: left;
width: 50%;

}

.lost_pass_div {
float: right;
width: 40%;
border: 1px solid #ccc;
padding: 5px;
}

.remember_me {
	font-size: 8pt;
	font-weight: 400 !important;
}
.enter_your_email_address_for_pass {
	font-size: 8pt;
	color: #888;
	margin-bottom: 10px;

}

password_form_div {
	text-align: center;
}


.or_std_button{
font-size:10pt;
color:#4f4f4f;
text-decoration:none;
border-width:1px;
border-style: solid;
border-color:#ccc;
-moz-border-radius:6px;
-khtml-border-radius:6px;
-webkit-border-radius:6px;
border-radius:6px;
margin:2px;
padding:3px 6px;
cursor:pointer;
/* Opera */
background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDI1NSwyNTUsMjU1LDEpOyIgLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0eWxlPSJzdG9wLWNvbG9yOnJnYmEoMjE1LDIxNSwyMTUsMSk7IiAvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGZpbGw9InVybCgjZ3JhZGllbnQpIiBoZWlnaHQ9IjEwMCUiIHdpZHRoPSIxMDAlIiAvPjwvc3ZnPg==);

/* Firefox */
background: -moz-linear-gradient( top, rgba(255,255,255,1), rgba(215,215,215,1) );

/* Chrome & Safari */
background: -webkit-gradient( linear, left top, left bottom, color-stop( 0, rgba(255,255,255,1) ), color-stop( 1, rgba(215,215,215,1) ) );

/* IE5.5 - IE7 */
filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFFFFFFF,EndColorStr=#FFD7D7D7);

/* IE8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFFFFFFF,EndColorStr=#FFD7D7D7)";
}
.or_std_button:hover{
cursor:pointer;
color:#444;
border-color: #666;
opacity: .8;
}
.clear{clear:both;}

/* LISTING DETAIL - COMMON FOR ALL TEMPLATE FILES
 ============================================================================ */
.or_content_tag .view_image{width:100%;text-align:center;}
.view_image span.image_caption{width:100%;line-height:25px;font-weight:bold;color:#FF0000;}
.or_content_tag .view_image a:link, .or_content_tag .view_image a:visited{font-size:11px;font-weight:normal;text-decoration:underline;color:#656565;}
.or_content_tag .view_image a:hover{text-decoration:none;}
.or_content_tag .view_image img{width:480px;margin-bottom:10px;border:0 none;}
#features{clear:both}
#features_left{float:left;width:50%;}
.multiple_options_caption{margin-right:5px;padding:0;font-weight:bold;float:left;}
.multiple_options{float:left;}

#features_right{float:left;width:50%;}
#features_right ul{float:left;margin:0;padding:0;list-style-type:none;}
#features_right li{display:inline;line-height:12px;}
div.features_ticked{float:left;margin-top:15px;padding-left:18px;}
div.features_ticked strong{line-height:15px;padding-top:16px;margin-left:-18px;background-color:#FFFFFF;}


/* LISTING DETAIL - NEXT/PREV BAR (WHEN "Show NextPrev Bar On Listing Page" IS
   SET TO "yes" AT "SITE CONFIG", "LISTINGS" TAB) - THIS IS NOT THE SAME FOR THE
   TAG {next_prev} AS SET ABOVE
 ============================================================================ */
.next_prev_listing{float:right;width:360px !important;margin:0 0 20px 0;padding:0;font-size:11px;}
.next_prev_listing img{width:59px !important;}
.next_prev_listing .count{float:right;width:358px;margin:0;padding:0 0 10px 0;text-align:center;}
.next_prev_listing ul{clear:both;width:100%;height:28px !important;margin:0;padding:0;list-style:none;text-align:right;}
.next_prev_listing li{display:inline;}
.next_prev_listing .listing_xy{float:right;width:358px;text-align:center;color:#999999;}
/* SEARCH CLASS DEFAULT (search_class_default.html)
 ============================================================================ */
#search_class_form{width:100%;margin:0;padding:0;background-color:#F7F7F7;}
#search_class_form h3{margin:0;padding:10px 0 10px 10px;font-size:14px;color:#000000;}
form#class_search_form{margin:0;padding:0 0 10px 0;font-size:12px;line-height:20px;color:#000000;}
form#class_search_form input{margin:0 5px 0 10px;background-color:#F7F7F7;}

/* SEARCH PAGE DEFAULT (search_page_default.html)
 ============================================================================ */
#search_page_default{width:100%;font-size:12px;}
#search_page_default .no_results{float:left;color:#FC0000;margin-bottom:10px;}
#search_page_default .no_results a:link, #search_page_default .no_results a:visited{color:#FC0000;}
#search_page_default .no_results a:hover{color:#000000;}
#templated_search_form{width:100%;}
#templated_search_form_data{margin-left:140px;}
div#templated_search_form form{float:left;padding-top:20px;}
#search_button{margin-top:20px;}
#search_button input{width:150px;font-size:12px;}
#templated_search_form_data label { width:140px; float: left; font-weight:bold; }
#templated_search_form_data  br,#templated_search_form_data  fieldset { clear:left; }
#templated_search_form_data  input,#templated_search_form_data  select { margin-bottom:5px; }
/* VIEW USERS (view_users_default.html)
 ============================================================================ */
.view_users {
	margin:0;
	padding:0;
	}
.view_users_thumbs {
	float:left;
	margin-right:20px;
	}
	.view_users_thumbs a:link,
	.view_users_thumbs a:visited {
		}
	.view_users_thumbs a:hover {
		}
	.view_users_thumbs img {
		}
.view_users_fields {
	float:left;
	padding-bottom:20px;
	}
	.view_users_fields h3 {
		}
	.view_users_fields a:link,
	.view_users_fields a:visited {
		}
	.view_users_fields a:hover {
		}

/* VIEW USER (view_user_default.html)
*******************************************************************************/
.view_user {
	clear:both;
	margin:0;
	padding:0 0 0 5px;
	}
.view_user_name {
	float:left;
	width:100%;
	padding-bottom:20px;
	font-size:14px;
	font-weight:bold;
	}
.view_user_images {
	float:left;
	width:130px;
	margin:0;
	padding:0;
	}
.view_user_images img {
	float:left;
	border:0 none;
	}
.view_user_images h3 {
	}
.view_user_info {
	float:right;
	width:50%;
	margin:0;
	padding:0;
	}
	.view_user_info ul {
		}
	.view_user_info li {
		}
	.view_user_info a:link,
	.view_user_user_info a:visited {
		}
	.view_user_info a:hover {
		}
.view_user_listings {
	float:right;
	width:50%;
	margin:0;
	padding:20px 0 0 0;
	}
	.view_user_listings ul {
		}
	.view_user_listings li {
		}
	.view_user_listings a:link,
	.view_user_listings a:visited {
		}
	.view_user_listings a:hover {
		}
.view_user_hitcount {
	clear:both;
	}

/* LISTING DETAIL DEFAULT TEMPLATE (listing_detail_default.html)
 ============================================================================ */
#listing_detail_default{float:left;width:100%;margin:0;padding:0;font-size:11px;}
#listing_detail_default_header{float:left;width:375px;}
#listing_detail_default_header h3{}
#listing_detail_default_header h4{}
#listing_detail_default_header a:link, #listing_detail_default_header a:visited{text-decoration:none;}
#listing_detail_default_header a:hover{text-decoration:none;color:#FC0000;}
#listing_detail_default .vtour_button{float:left;margin-top:10px;}
#listing_detail_default_inner{float:left;width:100%;margin:0;padding:0;}
#listing_detail_default_images{float:left;width:130px;margin:0;padding:0;text-align:center;}
#listing_detail_default_images strong{float:left;display:inline;font-style:italic;text-transform:uppercase;}
#listing_detail_default_images hr{float:left;display:block;width:115px !important;}
#listing_detail_default_images img{}
#listing_detail_default_images b{font-weight:normal;font-style:italic;}
#listing_detail_default_fieldslinks{height:100% !important;margin:0 0 0 130px;padding:0;text-align:left;}
#listing_detail_default_fieldslinks_inner{float:left;width:100%;}
/* LISTING DETAIL MAINJAVACOLUMN TEMPLATE (listing_detail_mainjavacolumn.html)
 ============================================================================ */
#listing_detail_mainjavacolumn{float:left;width:100%;margin:0;padding:0;font-size:11px;}
#listing_detail_mainjavacolumn_header{float:left;width:375px;}
#listing_detail_mainjavacolumn_inner{float:left;width:100%;margin:0;padding:0;}
#listing_detail_mainjavacolumn_fieldslinks{height:100% !important;margin:0 0 0 130px;padding:0;text-align:left;}
#listing_detail_mainjavacolumn_images{float:left;width:130px;height:1px !important;margin:0;padding:0;text-align:center;}
#listing_detail_mainjavacolumn_mainimage{text-align:center;}
#listing_detail_mainjavacolumn table{width:100%;font-size:11px;}
#listing_detail_mainjavacolumn img#main{width:360px;border:0 none;}
#listing_detail_mainjavacolumn a:link, #listing_detail_mainjavacolumn a:visited{font-size:12px;font-weight:normal;text-decoration:none;color:#666666;}
#listing_detail_mainjavacolumn a:hover{text-decoration:underline;}
#listing_detail_mainjavacolumn .vtour_button{margin-top:10px;}
#listing_detail_mainjavacolumn .vtour_button img{width:200px;height:30px;}
/* LISTING DETAIL MAINJAVAROWS TEMPLATE (listing_detail_mainjavarows.html)
 ============================================================================ */
#listing_detail_mainjavarows{float:left;width:100%;margin:0;padding:0;font-size:11px;}
#listing_detail_mainjavarows_inner{float:left;width:100%;margin:0;padding:0;}
#listing_detail_mainjavarows_header{float:left;width:375px;}
#listing_detail_mainjavarows_fieldslinks{height:100% !important;margin:0;padding:0;text-align:left;}
#listing_detail_mainjavarows_mainimage{width:100% !important;text-align:center;}
#listing_detail_mainjavarows_mainimage img#main{width:480px;border:0 none;}
#listing_detail_mainjavarows_mainimage table{width:100% !important;border-collapse:collapse;border-spacing:0px;text-align:justify;}
p#mainjavarows_thumbs{text-align:center;}
p#mainjavarows_thumbs br{display:none;}
p#mainjavarows_thumbs table{width:100% !important;border-collapse:collapse;border-spacing:0px;}
p#mainjavarows_thumbs td{text-align:center;vertical-align:top;}
p#mainjavarows_thumbs img{float:left;width:100px;margin:10px 0 0 40px;border:0 none;}

/* LISTING DETAIL TABBED
 ============================================================================ */
#listing_detail_tabbed{float:left;width:100%;height:100%;margin:0;padding:0;}
#listing_detail_tabbed table{width:100%;border-collapse:collapse;border:0 none;}
#listing_detail_tabbed .tab a:link, #listing_detail_tabbed .tab a:visited{font-weight:normal;text-decoration:none;color:#666666;cursor:pointer;}
#listing_detail_tabbed .tab a:hover{text-decoration:none;}
#listing_detail_tabbed_header{width:100%;}
#listing_detail_tabbed_fieldslinks{height:100% !important;margin:0;padding:0;text-align:left;}
#listing_detail_tabbed_mainimage{width:100%;text-align:center;}
#listing_detail_tabbed_mainimage img#main{width:480px !important;border:0 none;}
#listing_detail_tabbed_mainimage table{width:100% !important;border-collapse:collapse;border-spacing:0px;text-align:justify;}
p#tabbed_thumbs{text-align:center;}
p#tabbed_thumbs br{display:none;}
p#tabbed_thumbs table{width:100% !important;border-collapse:collapse;border-spacing:0px;}
p#tabbed_thumbs td{text-align:center;vertical-align:top;}
p#tabbed_thumbs img{float:left;width:100px;margin:10px 0 0 40px;border:0 none;}
/* FEATURED LISTINGS HORIZONTAL
 ============================================================================ */
.featured_listings_horizontal{width:100%;margin:0;padding:0 0 0 0;font-size:12px;text-align:left;}
.featured_listings_horizontal .featured_listings_block{float:left;width:130px;margin:0;padding:0;text-align:center;}
.featured_listings_horizontal .featured_listings_block a:link.title , #featured_listings_horizontal .featured_listings_block a:visited.title{font:11px;text-decoration:none;color:#666666;background-color:transparent;}
.featured_listings_horizontal .featured_listings_block a:hover.title{color:#FF0000;background-color:transparent;}
img.featured_listings_horizontal_thumb{border:0 none;}
/* FEATURED LISTINGS VERTICAL
 ============================================================================ */
.featured_listings_vertical{width:130px;margin:0 10px 0 0;padding:0;font-size:12px;text-align:center;}
.featured_listings_vertical .featured_listings_block{margin:0;padding:10px 0 0 0;}
.featured_listings_vertical .featured_listings_block a:link.title , #featured_listings_vertical .featured_listings_block a:visited.title{font:11px;text-decoration:none;color:#666666;background-color:transparent;}
.featured_listings_vertical .featured_listings_block a:hover.title{color:#FF0000;background-color:transparent;}
img.featured_listings_vertical_thumb{border:0 none;}
/* SEARCH RESULT BOX
 ============================================================================ */
#box_titles{width:100%;padding:20px 0 20px 0;text-align:center;font-weight:bold;}
#box_titles a:link, #box_titles a:visited{}
#box_titles a:hover{}
.box_dataset{width:100%;margin:0 0 10px 0;padding:0;background-color:#EAEAEA;}
.box_dataset .box_dataset_image{float:left;padding:3px 3px 1px 3px;text-align:left;background-color:#CFCFCF;}
.box_dataset .box_dataset_image img{border:2px solid #FFFFFF;}
.box_dataset .box_dataset_dataleft{float:left;padding:5px;text-align:left;}
.box_dataset .box_dataset_dataright{float:right;padding:5px;text-align:right;}
.box_dataset .textarea{float:left;width:100%;padding:5px;text-align:justify;}
.box_dataset .textarea a:link, .box_dataset .textarea a:visited{}
.box_dataset .textarea a:hover{}
/* SEARCH RESULT DEFAULT
 ============================================================================ */
table.search_result_header{width:100%;margin-top:10px;}
table.search_result_header th{height:20px;border:1px solid #9FB6D5;text-align:center;}
table.search_result_header td{text-align:center;vertical-align:middle;}
table.search_result_header th.title{width:140px;text-align:center;}
table.search_result_header td.title{width:140px;padding-top:10px;text-align:center;}
table.search_result_header td.title img{padding:3px 0 3px 0;border:0 none;}
table.search_result_header td.textarea{text-align:left;padding-bottom:10px;}
table.search_result_header a:link, table.search_result_header a:visited{}
table.search_result_header a:hover{}
table.search_result_header .result_row_0{background-color:#F0F0F0;}
table.search_result_header .result_row_1{background-color:#FFFFFF;}
/* SEARCH RESULT NOPHOTO
 ============================================================================ */
table#search_result_nophoto{width:100%;line-height:18px;}
table#search_result_nophoto th{padding:10px 0 20px 0;font-weight:bold;text-align:center;}
table#search_result_nophoto td{text-align:center;}
table#search_result_nophoto th.title{text-align:center;}
table#search_result_nophoto td.title{text-align:left;}
table#search_result_nophoto th a:link, table#search_result_nophoto th a:visited{text-align:right;text-decoration:underline;}
table#search_result_nophoto th a:hover{text-decoration:none;}
table#search_result_nophoto .result_row_0{background-color:#F0F0F0;}
table#search_result_nophoto .result_row_1{background-color:#FFFFFF;}
/* OPEN-REALTY GENERAL TAGS & OTHERS
 ============================================================================ */
.or_content_tag .delete_this ul{margin-top:0;list-style-type:square;}
.or_content_tag .delete_this li{padding-top:10px;}
.or_content_tag{float:left;width:100%;margin:0;padding:0 0 0 0;}
table.search_result_header{clear:both;font-size:12px;border-collapse:collapse;border-spacing:0px;border:0 none;}
.or_content_tag table{clear:both;font-size:12px;border:0 none;}
.or_content_tag .page_display, #or_content_tag .page_display td, #or_content_tag .page_display p{margin:0;padding:0;line-height:15px;font-size:12px;text-align:left;}
.or_content_tag .page_display h2{margin:0 0 10px 0;padding:10px 0 2px 0;line-height:26px;font-size:16px;}
.or_content_tag .page_display ul{margin-top:0;list-style-type:square;}

.vtour_button img{width:200px;height:30px;}
#ptviewer{width:480px !important;margin-top:20px;}
p#ttech_logo{padding-left:5px;}
select#tourmenu{width:200px;font:12px;}
span.reg_mark_h2{font-size:9px;font-style:normal;vertical-align:top;}
.center{width:100%;text-align:center;}
.float_left{float:left;}
.float_left_half{float:left;width:50%;}
.float_right{float:right;}
.float_right_half{float:right;width:50%}
span.bold{font-weight:bold;}
span.italic{font-style:italic;}
#content_left p{margin:0;padding:0;}
p.bold{font-weight:bold;}

pre{margin:0;padding:0;}
hr{width:100% !important;height:3px;border-top:1px solid #9FB6D5;border-bottom:1px solid #000000;color:#FFFFFF;background-color:#FFFFFF;}
img{border:0 none;}
img.content_image_right{float:right;margin-left:10px;border:0 none;}
img.content_image_left{float:left;margin-right:10px;border:0 none;}
td#main_image_description{padding:0 20px 0 20px;text-align:justify;}
/*table{border-collapse:collapse;}*/
td.row_main{padding-right:10px;border-collapse:collapse;border-spacing:0px;border:0 none;font-size:12px;}
td.row_main h3{font-size:14px;}
td.row_main input{font-size:12px;}
/* THIS CONTROLS THE TABLES DISPLAYED BY PAGES GENERATED BY THE PAGE EDITOR */
table.page_display{border:3px;}
td.page_display{width:100%;vertical-align:top;}
/* THIS CONTROLS THE TABLES DISPLAYED IN THE ADMIN */
table.admin_main{width:100%;border:3px;}
td.admin_main{width:100%;vertical-align:top;}
td.row1_0{background-color:#009900;}
td.row2_0{background-color:#CCFFCC;}
td.row3_0{background-color:#99CC99;}
.adminListingLeft_0{color:#FFFFFF;background-color:transparent;}
/* BLOG VIEW
 ============================================================================ */

.blog_date{ color:#808080;margin-bottom:3px;font-size:8pt;}

.blog_info{float:right; padding: 2px; }

.blog_title{float: left; width: 78%; font-weight:800; font-size:18pt; line-height: 1.2em; color:#06AFBE; }
.blog_summary{padding:7px; color:#000;}
.blog_tag_header{font-weight:bold;font-size:16pt;}
.blog_tag_description{padding:1px;}
.blog_cat_header{font-weight:bold;font-size:18px;}
.blog_cat_description{padding:1px;}
.blog_story_link_line{padding-left:7px;padding-bottom:5px;}
a.blog_story_link{text-decoration:none !important;font-size:11px;font-weight:bold;}
.blog_entry_footer{border:1px solid #9FB6D5; text-align:center; display:block;padding: 2px 5px 2px 5px;margin-bottom:15px;font-size:10px;}
.blog_entry{margin-top:5px;}
.blog_byline{color:#808080;margin-top:3px;font-size:8pt;}
.blog_byline a{color: #06AFBE !important; font-size:8pt; text-decoration: none !important;}
.blog_byline a:hover {color: blue;text-decoration: underline;}

.blog_author {font-size: 10pt; font-weight: 600;}
.blog_article_author{font-size: 10pt; font-weight: 600; }
.blog_entry_footer_item{float:right;margin-right:15px;}

.blog_full_article{padding: 0px 7px 7px 7px;color:#000;}
.blog_article_category_links{
	font-weight: 600;
	padding: 10px;
}

.blog_article_title{float: left; width: 82%; font-weight:800;font-size:18pt;color:#06AFBE; }
.blog_article_date{ color:#808080;font-size:8pt;}
.blog_article_share {font-size: 9pt; }

.blog_author_info{width:100px; float:right; }

.blog_author_info img {
	-webkit-box-shadow: 1px 1px 4px 1px #999999;
	box-shadow: 1px 1px 4px 1px #999999;
}
.blog_article_author {text-decoration:none !important; font-size: 9pt; color: #00B2EE !important;}

.blog_article_postby{color:#808080;font-size:8pt;}

.blog_comment_author {
	font-size: 10pt;
	font-weight: 600;
}


a.blog_article_comment_link {color: #06AFBE; padding: 2px; font-size:9pt;}
.blog_article_comment_link > img{text-decoration: none; padding-right: 4px; vertical-align: text-top; }

.blog_article_comments {
border:1px solid #AAA;
background: #F4F4F4;
-moz-border-radius:6px;
-khtml-border-radius:6px;
-webkit-border-radius:6px;
border-radius:6px;
padding:6px;
}
.blog_article_comments_header{font-weight:bold;font-size:12pt;font-style: italic; color:#053280;margin-bottom:10px;}
.blog_comment_count{font-size: 12pt; font-weight: 600; color: #888;}

.blog_article_comment_item{
	border: 1px solid #ddd;
	background-color: #F5FAFF;
	margin-left:10px;margin-right:10px;
	padding: 10px 10px 5px 10px;
	margin-bottom: 5px;
}
.blog_article_comment_text{
	border: 1px solid #D9F6FC;
	background-color: #fff;
	padding: 5px;
}
.blog_comment_timestamp {
	font-size:8pt; color:#999; font-weight:normal;
}
.blog_article_keywords {
	font-size: 10pt;
	color: #333;

}

.add_comment_login {
font-size:10pt;
color:#eee;
text-decoration:none;
border-width:1px;
border-style: solid;
border-color: #aaa;
-moz-border-radius:8px;
-khtml-border-radius:8px;
-webkit-border-radius:8px;
border-radius:8px;
margin:6px;
padding:1px 6px;
cursor:pointer;
/* Opera */
background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDI1NSwyNTUsMjU1LDEpOyIgLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0eWxlPSJzdG9wLWNvbG9yOnJnYmEoMTIyLDEzMiwyMjUsMSk7IiAvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGZpbGw9InVybCgjZ3JhZGllbnQpIiBoZWlnaHQ9IjEwMCUiIHdpZHRoPSIxMDAlIiAvPjwvc3ZnPg==);

/* Firefox */
background: -moz-linear-gradient( top, rgba(255,255,255,1), rgba(122,132,225,1) );

/* Chrome & Safari */
background: -webkit-gradient( linear, left top, left bottom, color-stop( 0, rgba(255,255,255,1) ), color-stop( 1, rgba(122,132,225,1) ) );

/* IE5.5 - IE7 */
filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFFFFFFF,EndColorStr=#FF7A84E1);

/* IE8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFFFFFFF,EndColorStr=#FF7A84E1)";
}

.add_comment_login:hover{

cursor:pointer;
color:#444;
border-color: #ddd;
opacity: .9;
text-decoration:none;
}

.add_comment_block{padding-left:20px;margin-top:10px;}

.blog_leave_comment_text{color:#053280;}
.blog_leave_comment_submit{border-color:#053280;font-weight:bold;font-size:10px;}
.blog_leave_comment_text_textarea{
	border:1px solid #AAAAAA;
	-moz-border-radius:6px;
	-khtml-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	background: #FFFFCC;
	color: #303030;
	width:560px;
	height:100px;
}
.comment_moderated_message{
	color:red;padding-left:20px;margin-top:10px;

}
/* RED TEXT FOR ERROR MESSAGES
 ============================================================================ */
.redtext {color:#AA0000;}
/* TEMPLATE SELECTOR
 ============================================================================ */
form.template_selector {margin:0; padding:0;}
form.template_selector fieldset {border:none;}
select#select_users_template {width:150px;}
/* Form Element Formating (Used On contact Form Currently) */
.form_div {padding-top:4px;}
.field_caption{float:left;text-align:right;padding-right:2px;padding-top:2px;font-size:8pt;font-weight:700;width:42%;}
.field_element{float:right;text-align:left;width:57%;}
.field_element_column{float:left;width:33%;}
#feedback_sent_message{text-align: center;font-size: 1.4em;color: green;}
#create_account_msg {
	text-align:center;
	margin: 5px auto 5px auto;
	width:600px;
}
.lead_text {
	font-size: 9pt;
	text-indent: 6px;
	padding: 5px;
}

.application_rounded_box {
border-top:1px;
border-right:2px;
border-bottom:2px;
border-left:1px;
-moz-border-radius:6px;
-khtml-border-radius:6px;
-webkit-border-radius:6px;
border-radius:6px;
background:#F2F2F2;
border-color:#AAA;
border-style:solid;
padding:1px;
}

.application_rounded_box_title {
/* Opera */
background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDI1NSwyNTUsMjU1LDEpOyIgLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0eWxlPSJzdG9wLWNvbG9yOnJnYmEoMTQ1LDE0NSwxNDUsMSk7IiAvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGZpbGw9InVybCgjZ3JhZGllbnQpIiBoZWlnaHQ9IjEwMCUiIHdpZHRoPSIxMDAlIiAvPjwvc3ZnPg==);

/* Firefox */
background: -moz-linear-gradient( top, rgba(255,255,255,1), rgba(145,145,145,1) );

/* Chrome & Safari */
background: -webkit-gradient( linear, left top, left bottom, color-stop( 0, rgba(255,255,255,1) ), color-stop( 1, rgba(145,145,145,1) ) );

/* IE5.5 - IE7 */
filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFFFFFFF,EndColorStr=#FF919191);

/* IE8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFFFFFFF,EndColorStr=#FF919191)";

font-weight:600;
font-size:11pt;
text-align:center;
margin:0;
padding:3px;
color: #777;
}

#signup_section_link{float:left;}
#login_section_link{float:right;}
.section_link_container{width:400px;}
#signup_section{display:none;}
#login_section{display:none;}
/* jQuery ASMselect widget CSS */
/******************************/
.asmContainer{}
.asmSelect{display:inline;}
.asmOptionDisabled{color:#999;}
.asmHighlight{padding:0;margin:0 0 0 1em;}
.asmList{margin:0.25em 0 1em 0;position:relative;display:block;padding-left:0;list-style:none;}
.asmListItem{position:relative;margin-left:0;padding-left:0;list-style:none;background:#ddd;border:1px solid #bbb;width:100%;margin:0 0 -1px 0;line-height:1em;}
.asmListItem:hover{background-color:#e5e5e5;}
.asmListItemLabel{padding:5px;display:block;}
.asmListSortable .asmListItemLabel{cursor:move;}
.asmListItemRemove{position:absolute;right:0;top:0;padding:5px;}

/* SEARCH RESULTS - NEXT/PREV BAR GENERATED BY THE TAG {next_prev}
 ============================================================================ */

.browse_tool, .browse_tool_text, .browse_tool_curpage, .bt_pages_ghost, span a
{
    float: left;
}
.browse_tool_button
{
    float:right
}
.jump_to_page{
    height:24px;
    padding:3px 5px;
}
.browse_tool_text {
	font-size: 9pt;
	color: #000;
}

.browse_tool_table {
border-top:1px;
border-right:2px;
border-bottom:2px;
border-left:1px;
-moz-border-radius:6px;
-khtml-border-radius:6px;
-webkit-border-radius:6px;
border-radius:6px;
border-color:#AAA;
border-style:solid;
width: 100%;
text-decoration: none;
}

.browse_tool_table td.browse_tool .browse_tool strong {
padding:0 0 0 6px !important;
}

.browse_tool_num {
color:#369;
}

a.bt_pages, a.bt_pages:visited,  a.bt_pages:hover, .browse_tool_curpage {
width:18px;
height:18px;
line-height:18px;
-moz-border-radius:6px;
-khtml-border-radius:6px;
-webkit-border-radius:6px;
border-radius:6px;
border-width:1px;
border-style: solid;
font-size: 8pt;
font-weight: 400;
text-decoration: none !important;
text-align:center;
display:block;
/* Opera */
background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDI1NSwyNTUsMjU1LDEpOyIgLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0eWxlPSJzdG9wLWNvbG9yOnJnYmEoMjE1LDIxNSwyMTUsMSk7IiAvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGZpbGw9InVybCgjZ3JhZGllbnQpIiBoZWlnaHQ9IjEwMCUiIHdpZHRoPSIxMDAlIiAvPjwvc3ZnPg==);

/* Firefox */
background: -moz-linear-gradient( top, rgba(255,255,255,1), rgba(215,215,215,1) );

/* Chrome & Safari */
background: -webkit-gradient( linear, left top, left bottom, color-stop( 0, rgba(255,255,255,1) ), color-stop( 1, rgba(215,215,215,1) ) );

/* IE5.5 - IE7 */
filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFFFFFFF,EndColorStr=#FFD7D7D7);

/* IE8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFFFFFFF,EndColorStr=#FFD7D7D7)";
}

.bt_pages_firstpage a.bt_pages, .bt_pages_lastpage a.bt_pages {
background: none !important;
color: #eee !important;
border-color: transparent;
}
.bt_pages_firstpage a.bt_pages:hover, .bt_pages_lastpage a.bt_pages:hover {
background-color: #fff !important;
color: #eee !important;
color:#000 !important;
opacity: .8;
}

a.bt_pages {
background-color:#EDEDED;
color:#444 !important;
border-color: #ccc;
padding: 1px;
}
a.bt_pages:hover {
/* Opera */
background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDI1NSwyNTUsMjU1LDEpOyIgLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0eWxlPSJzdG9wLWNvbG9yOnJnYmEoMjE1LDIxNSwyMTUsMSk7IiAvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGZpbGw9InVybCgjZ3JhZGllbnQpIiBoZWlnaHQ9IjEwMCUiIHdpZHRoPSIxMDAlIiAvPjwvc3ZnPg==);

/* Firefox */
background: -moz-linear-gradient( top, rgba(255,255,255,1), rgba(215,215,215,1) );

/* Chrome & Safari */
background: -webkit-gradient( linear, left top, left bottom, color-stop( 0, rgba(255,255,255,1) ), color-stop( 1, rgba(215,215,215,1) ) );

/* IE5.5 - IE7 */
filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFFFFFFF,EndColorStr=#FFD7D7D7);

/* IE8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFFFFFFF,EndColorStr=#FFD7D7D7)";
border-color: #fff;
color:#000 !important;
}
a.bt_pages:visited {
background-color:#EDEDED;
}
a.bt_pages:visited:hover {
background-color:#fff;
opacity: .8;
}

.browse_tool_curpage {
background-color:#fff;
color:#369;
border-color: #fff;
display:block;
font-weight:700;
padding: 1px;
opacity: .6

}

.bt_pages_ghost {
color:#AAA;
text-decoration:none;
}


.browse_tool_button a {
/* Opera */
background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDI1NSwyNTUsMjU1LDEpOyIgLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0eWxlPSJzdG9wLWNvbG9yOnJnYmEoMjE1LDIxNSwyMTUsMSk7IiAvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGZpbGw9InVybCgjZ3JhZGllbnQpIiBoZWlnaHQ9IjEwMCUiIHdpZHRoPSIxMDAlIiAvPjwvc3ZnPg==);

/* Firefox */
background: -moz-linear-gradient( top, rgba(255,255,255,1), rgba(215,215,215,1) );

/* Chrome & Safari */
background: -webkit-gradient( linear, left top, left bottom, color-stop( 0, rgba(255,255,255,1) ), color-stop( 1, rgba(215,215,215,1) ) );

/* IE5.5 - IE7 */
filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFFFFFFF,EndColorStr=#FFD7D7D7);

/* IE8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFFFFFFF,EndColorStr=#FFD7D7D7)";
color:#4f4f4f;
text-decoration:none;
font-size:9pt;
border-width:1px;
border-style: solid;
border-color:#838b83;
margin:2px;
padding:3px 6px;
-moz-border-radius:6px;
-khtml-border-radius:6px;
-webkit-border-radius:6px;
border-radius:6px;
text-decoration: none !important;
}

.browse_tool_button a:hover {
/* Opera */
background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDI1NSwyNTUsMjU1LDEpOyIgLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0eWxlPSJzdG9wLWNvbG9yOnJnYmEoMjE1LDIxNSwyMTUsMSk7IiAvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGZpbGw9InVybCgjZ3JhZGllbnQpIiBoZWlnaHQ9IjEwMCUiIHdpZHRoPSIxMDAlIiAvPjwvc3ZnPg==);

/* Firefox */
background: -moz-linear-gradient( top, rgba(255,255,255,1), rgba(215,215,215,1) );

/* Chrome & Safari */
background: -webkit-gradient( linear, left top, left bottom, color-stop( 0, rgba(255,255,255,1) ), color-stop( 1, rgba(215,215,215,1) ) );

/* IE5.5 - IE7 */
filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFFFFFFF,EndColorStr=#FFD7D7D7);

/* IE8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFFFFFFF,EndColorStr=#FFD7D7D7)";
cursor:pointer;
color:#000 !important;
border-color: #fff;
opacity: .8;
}

.browse_tool_ghost {
display:none;
}
/*MINI TABS */

ul.mini-tabs {
	margin:0 !important;
	padding:0;
	height:20px;
	border-bottom:1px solid #666;
}

/* single tab */
ul.mini-tabs li {
	float:left;
	padding:0;
	margin:0;
	list-style-type:none;
}

/* link inside the tab*/
ul.mini-tabs a {
	float:left;
	font-size:8pt;
	display:block;
	padding:2px 8px;
	text-decoration:none;
	border:1px solid #666;
	border-bottom:0px;
	height:14px;
	/* Opera */
background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDI1NSwyNTUsMjU1LDEpOyIgLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0eWxlPSJzdG9wLWNvbG9yOnJnYmEoMTQ1LDE0NSwxNDUsMSk7IiAvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGZpbGw9InVybCgjZ3JhZGllbnQpIiBoZWlnaHQ9IjEwMCUiIHdpZHRoPSIxMDAlIiAvPjwvc3ZnPg==);

/* Firefox */
background: -moz-linear-gradient( top, rgba(255,255,255,1), rgba(145,145,145,1) );

/* Chrome & Safari */
background: -webkit-gradient( linear, left top, left bottom, color-stop( 0, rgba(255,255,255,1) ), color-stop( 1, rgba(145,145,145,1) ) );

/* IE5.5 - IE7 */
filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFFFFFFF,EndColorStr=#FF919191);

/* IE8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFFFFFFF,EndColorStr=#FF919191)";

	color:#777;
	margin-right:3px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright:4px;
	position:relative;
	top:1px;
}

ul.mini-tabs a:hover {
	background-image: none;
	background-color:#F7F7F7;
	color:#333;
}

/* selected tab */
ul.mini-tabs a.current {
	background-image: none;
	background-color:#FAFAFA;
	border-bottom: 1px solid #FAFAFA;
	color:#000;
	cursor:default;
}

/* tab pane */
div.mini-panes > div {
	display:none;
	border:1px solid #666;
	border-width:0 1px 1px 1px;
	padding:4px 6px;
	background: #FAFAFA;
}
/*Transparent Maps Overides */
.tmaps_info_text > .field_caption {
	float:none;
}

/* Captcha layout items for securimage*/
.captcha_outer {margin-left: auto; margin-right: auto; margin-top: 10px; width: 300px;} /* only style applied to reCaptcha */
.captcha_inner {text-align: left;}
.captcha_label {font-weight: bold;}
#captcha {
	padding-right: 5px; border: 0;
	float: left;
} /* the securimage captcha image */
.captcha_audio {border-style: none; display: block;}
.captcha_refresh {border-style: none; display: block;}
.captcha_input {}

/* CSS For LightSliders */
.slideshow {
    width:530px;
}
.slideshow  ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}
.slideshow li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor:pointer;
}
.slideshow img {
    display: block;
    height: auto;
    width: 100%;
}
